{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheeet%}
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset("imagesFront/fav_icon.ico") }}">

    <!-- Google web fonts
    ============================================ -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="{{ asset("cssFront/animate.css") }}">
    <link rel="stylesheet" href="{{ asset("cssFront/fontello.css") }}">
    <link rel="stylesheet" href="{{ asset("cssFront/bootstrap.min.css") }}">

    <!-- Theme CSS
    ============================================ -->
    <link rel="stylesheet" href="{{ asset("jsFront/layerslider/css/layerslider.css") }}">
    <link rel="stylesheet" href="{{ asset("jsFront/owlcarousel/owl.carousel.css") }}">
    <link rel="stylesheet" href="{{ asset("jsFront/arcticmodal/jquery.arcticmodal.css") }}">
    <link rel="stylesheet" href="{{ asset("cssFront/style.css") }}">
    <!-- select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />

    <!-- Old IE stylesheet
    ============================================ -->
    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="{{ asset("cssFront/oldie.css") }}">
    <![endif]-->
{% endblock %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div id="login_mw" class="modal_window" style="margin-left:480px;margin-top:100px;">

    <button class="close arcticmodal-close"></button>

    <header class="on_the_sides">

        <div class="left_side">

            <h2>Log In</h2>

        </div>



    </header><!--/ .on_the_sides-->

<form class="type_2" action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>
    <hr>

    <div class="streamlined">

        <h4 class="streamlined_title">OR Log In With</h4>

        <!--Social icon's list-->
        <ul class="horizontal_list social_btns">

            <li><a href="#" class="icon_btn middle_btn social_facebook tooltip_container"><i class="icon-facebook-1"></i><span class="tooltip top">Facebook</span></a></li>
            <li><a href="#" class="icon_btn middle_btn social_twitter tooltip_container"><i class="icon-twitter"></i><span class="tooltip top">Twitter</span></a></li>
            <li><a href="#" class="icon_btn middle_btn social_googleplus tooltip_container"><i class="icon-gplus-2"></i><span class="tooltip top">GooglePlus</span></a></li>

        </ul><!--/ .horizontal_list.wrapper.social_btns-->
        <!--End social icon's list-->

    </div><!--/ .streamlined-->

</div>

<!--==================================
		End login modal window
======================================-->
{% block javascript %}
    <!-- Include Libs & Plugins
============================================ -->
    <script src="{{ asset("jsFront/jquery-2.1.1.min.js") }}"></script>
    <script src={{ asset("jsFront/queryloader2.min.js") }}""></script>
    <script src="{{ asset("jsFront/layerslider/js/greensock.js") }}"></script>
    <script src="{{ asset("jsFront/layerslider/js/layerslider.transitions.js") }}"></script>
    <script src="{{ asset("jsFront/layerslider/js/layerslider.kreaturamedia.jquery.js") }}"></script>
    <script src="{{ asset("jsFront/jquery.appear.js") }}"></script>
    <script src="{{ asset("jsFront/owlcarousel/owl.carousel.min.js") }}"></script>
    <script src="{{ asset("jsFront/jquery.countdown.plugin.min.js") }}"></script>
    <script src="{{ asset("jsFront/jquery.countdown.plugin.min.js") }}"></script>
    <script src="{{ asset("jsFront/arcticmodal/jquery.arcticmodal.js") }}"></script>
    <script src="{{ asset("twitter/jquery.tweet.min.js") }}"></script>
    <script src="{{ asset("jsFront/colorpicker/colorpicker.js") }}"></script>
    <script src="{{ asset("jsFront/retina.min.js") }}"></script>
    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js"></script>

    <!-- Theme files
    ============================================ -->
    <script src="{{ asset("jsFront/theme.plugins.js") }}"></script>
    <script src="{{ asset("jsFront/theme.core.js") }}"></script>
    <!-- select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
{% endblock %}