{% block stylesheets %}
    <link href="{{ asset("css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ asset("css/metisMenu.min.css") }}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{{ asset("css/timeline.css") }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset("css/startmin.css") }}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{ asset("css/morris.css") }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset("css/font-awesome.min.css") }}" rel="stylesheet" type="text/css">

    <!-- date picker css -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">

    <!-- select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />


{% endblock %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Startmin</a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Top Navigation: Left Menu -->
                <ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a href="#"><i class="fa fa-home fa-fw"></i> Website</a></li>
                </ul>

                <!-- Top Navigation: Right Menu -->
                <ul class="nav navbar-right navbar-top-links">
                    <li class="dropdown navbar-inverse">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-comment fa-fw"></i> New Comment
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> secondtruth <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <!-- Sidebar -->
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">

                        <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href="{{ path("kalitys_crm_marque") }}"><i class="fa fa-clone  fa-fw"></i>Marques</a>
                            </li>
                            <li>
                                <a href="{{ path("kalitys_crm_modele") }}"><i class="fa fa-eye fa-fw"></i>Modèles </a>
                            </li>
                            <li>
                                <a href="{{ path("kalitys_crm_cylindree") }}"><i class="fa fa-circle-o-notch fa-fw"></i>Cylindrées</a>
                            </li>
                            <li>
                                <a href="{{ path("kalitys_crm_puissance") }}"><i class="fa fa-cog fa-fw"></i>Puissances </a>
                            </li>
                            <li>
                                <a href="{{ path("kalitys_crm_type_moteur") }}"><i class="fa fa-wrench  fa-fw"></i>Types Moteur </a>
                            </li>
                            <li>
                                <a href="{{ path("kalitys_crm_produit") }}"><i class="fa fa-tasks  fa-fw"></i>Produits </a>
                            </li>
                            <li>
                                <a href="{{ path("kalitys_crm_accessoire") }}"><i class="fa fa-tasks  fa-fw"></i>Accéssoires </a>
                            </li>
                            <li>
                                <a href="{{ path("kalitys_crm_logo") }}"><i class="fa fa-tasks  fa-fw"></i>Images </a>
                            </li>
                            <li>
                                <a href="{{ path("kalitys_crm_commande") }}"><i class="fa fa-tasks  fa-fw"></i>Commande </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
            <!-- Page Content -->
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Ajouter Commande</h1>
                        </div>
                    </div>
                    <!-- ... Your content goes here ... -->
                    <div class="row">
                        <form  method="post" action="" class="validate form-horizontal" enctype="multipart/form-data" id="basicForm">
                            <div class="row ajout-article">
                                {{ form_widget(form._token) }}
                                <div class="row col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                <label class="control-label">{{"Réference"|trans}}</label>
                                                {{ form_errors(form.ref)}}
                                                {{ form_widget(form.ref, {'attr': {'class': 'form-control autocomplete','placeholder':"Réference"|trans}}) }}
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="control-label">{{"Date Livraison"|trans}}</label>
                                                {{ form_errors(form.dateLivraison)}}
                                                {{ form_widget(form.dateLivraison, {'attr': {'class': 'form-control autocomplete','placeholder':"Date Livraison"|trans}}) }}
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="control-label">{{"Date Commande"|trans}}</label>
                                                {{ form_errors(form.dateCommande)}}
                                                {{ form_widget(form.dateCommande, {'attr': {'class': 'form-control autocomplete','placeholder':"Date Commande"|trans}}) }}
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="control-label">{{"Adresse Livraison"|trans}}</label>
                                                {{ form_errors(form.adresseLivraison)}}
                                                {{ form_widget(form.adresseLivraison, {'attr': {'class': 'form-control autocomplete','placeholder':"Adresse Livraison"|trans}}) }}
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="control-label">{{"Adresse Commande"|trans}}</label>
                                                {{ form_errors(form.adresseCommande)}}
                                                {{ form_widget(form.adresseCommande, {'attr': {'class': 'form-control autocomplete','placeholder':"Adresse Commande"|trans}}) }}
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="control-label">{{"Client"|trans}}</label>
                                                {{ form_errors(form.Userid)}}
                                                {{ form_widget(form.Userid, {'attr': {'class': 'form-control autocomplete','placeholder':"Adresse Commande"|trans}}) }}
                                            </div>
                                        </div>
                                        <div class="col-sm-12 ">
                                            <br><br><br>
                                            <div class="table-responsive">
                                                <table id="dataTable1" class=" table order-list" >
                                                    <thead>
                                                    <tr>
                                                        <td>Produit</td>
                                                        <td>Quantité</td>
                                                        <td>Prix/Pièce</td>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for ligne in pagination %}
                                                        {% set i=0 %}
                                                    <tr>
                                                        <td class="col-sm-4">
                                                            <select  name="browsers"+i id="browsers"+i style="width:200px;">
                                                                <option key="{{ ligne.Produitid?ligne.Produitid.designation }}" value="{{ ligne.Produitid?ligne.Produitid.designation }}">{{ ligne.Produitid?ligne.Produitid.designation }}</option>
                                                            </select>
                                                        </td>
                                                        <td class="col-sm-4">
                                                            <input type="text" name="quatite"+i id="quatite"+i class="form-control" value="{{ ligne.quantite }}"/>
                                                        </td>
                                                        <td class="col-sm-4">
                                                            <select  name="prix"+i id="prix"+i style="width:200px;">
                                                                <option key="{{ ligne.prix }}" value="{{ ligne.prix}}">{{ ligne.prix }}</option>
                                                            </select>
                                                        </td>
                                                        <td class="col-sm-2"><a class="deleteRow"></a>

                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                    <tfoot>
                                                    <tr >
                                                        <td colspan="5" style="text-align: left;">
                                                            <input type="button" class="btn btn-lg btn-block "   id="add" name="add" value="ajouter Produit" style="display: {{ display }}"/>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                {{form_rest(form)}}
                                <div class="btn-group mr5 pull-right">
                                    <button type="reset" class="btn btn-danger btn-quirk btn-stroke" >{{'Annuler'|trans}}</button>
                                </div>
                                <div class="btn-group mr5 pull-right">
                                    <button type="submit" class="btn btn-primary btn-quirk btn-stroke" name="counter" id="counter" value="0">{{'Valider'|trans}}</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <!-- jQuery -->
    <script src="{{ asset("js/jquery.min.js") }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset("js/bootstrap.min.js") }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ asset("js/metisMenu.min.js") }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset("js/startmin.js") }}"></script>

    <!-- dataTable -->
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>

    <!-- select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#{{ form.vars.name }}_Userid').select2();
            var counter = 0;
            $("#add").on("click", function () {
                var newRow = $("<tr>");
                var cols = "";

                cols += '<td><select id="browsers' + counter + '" name="browser' + counter + '" style="width:200px;"></select></td>';
                cols += '<td><input type="text" class="form-control" name="quatite' + counter + '" id="quatite'+counter+'"/></td>';
                cols += '<td><select id="prix' + counter + '" name="prix' + counter + '" style="width:200px;"></select></td>';
                //fill data list

                $.ajax({
                    ajax: true,
                    url: "{{ path('simulation_crm_fill_produit') }}",
                    success: function (data) {
                        $('#browsers' + counter).empty();
                        for (var i = 0; i < data.length; i++) {
                            $('#browsers' + counter).append("<option value='" + data[i]["key"] + "' key='" + data[i]["key"] + "'>" + data[i]["value"] + "</option>");
                            $('#prix' + counter).append("<option value='" + data[i]["prix"] + "' key='" + data[i]["key"] + "'>" + data[i]["value"] + " --- "+data[i]["prix"]+" EURO</option>");
                            $('#browsers' + counter).select2();
                            $('#prix' + counter).select2();
                        }
                        ;
                        counter++;
                        var element = document.getElementById("counter");
                        element.value=counter;
                    }
                });

                cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Supprimer"></td>';
                newRow.append(cols);
                $("table.order-list").append(newRow);

            });
            $("table.order-list").on("click", ".ibtnDel", function (event) {
                $(this).closest("tr").remove();
                counter -= 1
            });
            var element = document.getElementById("counter");
            element.value=counter;

        });
    </script>
{% endblock %}


