{% extends "default/index.html.twig" %}
{% block container %}
    <div id="wrapper">
        <div id="container">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Ajouter Produit</h1>
                        </div>
                    </div>
                    <!-- ... Your content goes here ... -->
                    <div class="row">
                        <form  method="post" action="" class="validate form-horizontal" enctype="multipart/form-data" id="basicForm">
                            <div class="row ajout-article">
                                {{ form_widget(form._token) }}
                                <div class="row col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="col-sm-4">
                                                {% if logo==null %}
                                                    <img src="{{ asset("image/logo.jpg") }}" width="150px;">
                                                {% else %}
                                                    <img src="{{ asset("image/marque/")~logo }}" width="150px;">
                                                {% endif %}
                                                {{ form_widget(form.file)}}
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="col-sm-6">
                                                    <label class="control-label">{{"Nom"|trans}}</label>
                                                    {{ form_errors(form.designation)}}
                                                    {{ form_widget(form.designation, {'attr': {'class': 'form-control autocomplete','placeholder':"Nom"|trans}}) }}
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="control-label">{{"Décriptif"|trans}}</label>
                                                    {{ form_errors(form.descriptif)}}
                                                    {{ form_widget(form.descriptif, {'attr': {'class': 'form-control autocomplete','placeholder':"Déscriptif"|trans}}) }}
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="control-label">{{"Rèf"|trans}}</label>
                                                    {{ form_errors(form.ref)}}
                                                    {{ form_widget(form.ref, {'attr': {'class': 'form-control autocomplete','placeholder':"Rèf"|trans}}) }}
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="control-label">{{"H.T"|trans}}</label>
                                                    {{ form_errors(form.ht)}}
                                                    {{ form_widget(form.ht, {'attr': {'class': 'form-control autocomplete','placeholder':"H.T"|trans}}) }}
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="control-label">{{"T.T.C"|trans}}</label>
                                                    {{ form_errors(form.ttc)}}
                                                    {{ form_widget(form.ttc, {'attr': {'class': 'form-control autocomplete','placeholder':"T.T.C"|trans}}) }}
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="control-label">{{"Fabricant"|trans}}</label>
                                                    {{ form_errors(form.fabricant)}}
                                                    {{ form_widget(form.fabricant, {'attr': {'class': 'form-control autocomplete','placeholder':"Fabricant"|trans}}) }}
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="control-label">{{"Lien"|trans}}</label>
                                                    {{ form_errors(form.lien)}}
                                                    {{ form_widget(form.lien, {'attr': {'class': 'form-control autocomplete','placeholder':"Lien"|trans}}) }}
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="control-label">{{"Norme"|trans}}</label>
                                                    {{ form_errors(form.norme)}}
                                                    {{ form_widget(form.norme, {'attr': {'class': 'form-control autocomplete','placeholder':"Norme"|trans}}) }}
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="control-label">{{"Réf d'origines"|trans}}</label>
                                                    {{ form_errors(form.reforigine)}}
                                                    {{ form_widget(form.reforigine, {'attr': {'class': 'form-control autocomplete','placeholder':"Réf d'origine"|trans}}) }}
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="control-label">{{"Réf fabricants"|trans}}</label>
                                                    {{ form_errors(form.reffabricant)}}
                                                    {{ form_widget(form.reffabricant, {'attr': {'class': 'form-control autocomplete','placeholder':"Réf fabricants"|trans}}) }}
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="control-label">{{"Code"|trans}}</label>
                                                    {{ form_errors(form.code)}}
                                                    {{ form_widget(form.code, {'attr': {'class': 'form-control autocomplete','placeholder':"Code"|trans}}) }}
                                                </div>

                                                <div class="col-sm-12">
                                                    <label class="control-label">{{"Marque"|trans}}</label>
                                                    {{ form_errors(form.Marqueid)}}
                                                    {{ form_widget(form.Marqueid, {'attr': {'class': 'form-control autocomplete','placeholder':"Cylindrée"|trans}}) }}
                                                </div>
                                                <div class="col-sm-12">
                                                    <label class="control-label pull-left">{{"Modèle"|trans}}</label>
                                                    {{ form_errors(form.Modeleid)}}
                                                    {{ form_widget(form.Modeleid, {'attr': {'class': 'form-control autocomplete','placeholder':"Cylindrée"|trans}}) }}
                                                </div>
                                                <div class="col-sm-12">
                                                    <label class="control-label">{{"Cylindrée"|trans}}</label>
                                                    {{ form_errors(form.Cylindreeid)}}
                                                    {{ form_widget(form.Cylindreeid, {'attr': {'class': 'form-control autocomplete','placeholder':"Cylindrée"|trans}}) }}
                                                </div>
                                                <div class="col-sm-12">
                                                    <label class="control-label">{{"Puissance"|trans}}</label>
                                                    {{ form_errors(form.Puissanceid)}}
                                                    {{ form_widget(form.Puissanceid, {'attr': {'class': 'form-control autocomplete','placeholder':"Cylindrée"|trans}}) }}
                                                </div>
                                                <div class="col-sm-12">
                                                    <label class="control-label">{{"Type Moteur"|trans}}</label>
                                                    {{ form_errors(form.Type_moteurid)}}
                                                    {{ form_widget(form.Type_moteurid, {'attr': {'class': 'form-control autocomplete','placeholder':"Cylindrée"|trans}}) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ">

                                    </div>
                                </div>

                                {{form_rest(form)}}
                                <div class="btn-group mr5 pull-right">
                                    <button type="reset" class="btn btn-danger btn-quirk btn-stroke">{{'Annuler'|trans}}</button>
                                </div>
                                <div class="btn-group mr5 pull-right">
                                    <button type="submit" class="btn btn-primary btn-quirk btn-stroke">{{'Valider'|trans}}</button>
                                </div>
                                <div class="btn-group mr5 pull-right">
                                    <button type="submit" class="btn btn-primary btn-quirk btn-stroke" style="display: {{ display }}" name="ajout">{{'Valider/Ajouter'|trans}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <!-- jQuery -->
    <script src="{{ asset("js/jquery.min.js") }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset("js/bootstrap.min.js") }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ asset("js/metisMenu.min.js") }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset("js/startmin.js") }}"></script>

    <!-- select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
    <script>
        $(function () {
            $('#{{ form.vars.name }}_Marqueid').select2();
            $('#{{ form.vars.name }}_Modeleid').select2();
            $('#{{ form.vars.name }}_Cylindreeid').select2();
            $('#{{ form.vars.name }}_Puissanceid').select2();
            $('#{{ form.vars.name }}_Type_moteurid').select2();
        })
    </script>
{% endblock %}


