{% extends "default/index.html.twig" %}
{% block container %}
    <div id="wrapper">
        <div id="container">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Ajouter Dépot</h1>
                        </div>
                    </div>
                    <!-- ... Your content goes here ... -->
                    <div class="row">
                        <form  method="post" action="" class="validate form-horizontal" enctype="multipart/form-data" id="basicForm">
                            <div class="row ajout-article">
                                {{ form_widget(form._token) }}
                                <div class="row col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="col-sm-6">
                                                <label class="control-label">{{"Nom"|trans}}</label>
                                                {{ form_errors(form.nom)}}
                                                {{ form_widget(form.nom, {'attr': {'class': 'form-control autocomplete','placeholder':"Nom"|trans}}) }}
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="control-label">{{"Adresse"|trans}}</label>
                                                {{ form_errors(form.adresse)}}
                                                {{ form_widget(form.adresse, {'attr': {'class': 'form-control autocomplete','placeholder':"Adresse"|trans}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ">

                                    </div>
                                </div>
                                {{form_rest(form)}}
                                <div class="btn-group mr5 pull-right">
                                    <button type="reset" class="btn btn-danger btn-quirk btn-stroke">{{'Annuler'|trans}}</button>
                                </div>
                                <div class="btn-group mr5 pull-right">
                                    <button type="submit" class="btn btn-primary btn-quirk btn-stroke">{{'Valider'|trans}}</button>
                                </div>
                                <div class="btn-group mr5 pull-right">
                                    <button type="submit" class="btn btn-primary btn-quirk btn-stroke" style="display: {{ display }}" name="ajout">{{'Valider/Ajouter'|trans}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <!-- jQuery -->
    <script src="{{ asset("js/jquery.min.js") }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset("js/bootstrap.min.js") }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ asset("js/metisMenu.min.js") }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset("js/startmin.js") }}"></script>
{% endblock %}


