{% extends "default/index.html.twig" %}
{% block container %}
    <div id="wrapper">
        <div id="container">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Ajouter Méta</h1>
                        </div>
                    </div>
                    <!-- ... Your content goes here ... -->
                    <div class="row">
                        <form  method="post" action="" class="validate form-horizontal" enctype="multipart/form-data" id="basicForm">
                            <div class="row ajout-article">
                                {{ form_widget(form._token) }}
                                <div class="row col-sm-12">
                                    <div class="form-group">

                                        <div class="col-sm-8" style="margin-left: 300px;">
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Author"|trans}}</label>
                                                {{ form_errors(form.author)}}
                                                {{ form_widget(form.author, {'attr': {'class': 'form-control autocomplete','placeholder':"Author"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Subject"|trans}}</label>
                                                {{ form_errors(form.subject)}}
                                                {{ form_widget(form.subject, {'attr': {'class': 'form-control autocomplete','placeholder':"Subject"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Revisit After"|trans}}</label>
                                                {{ form_errors(form.revisitAfter)}}
                                                {{ form_widget(form.revisitAfter, {'attr': {'class': 'form-control autocomplete','placeholder':"Revisit Afte"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Canonical"|trans}}</label>
                                                {{ form_errors(form.canonical)}}
                                                {{ form_widget(form.canonical, {'attr': {'class': 'form-control autocomplete','placeholder':"Canonical"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Ratinig"|trans}}</label>
                                                {{ form_errors(form.rating)}}
                                                {{ form_widget(form.rating, {'attr': {'class': 'form-control autocomplete','placeholder':"Ratinig"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Organization"|trans}}</label>
                                                {{ form_errors(form.organization)}}
                                                {{ form_widget(form.organization, {'attr': {'class': 'form-control autocomplete','placeholder':"Organization"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Classification"|trans}}</label>
                                                {{ form_errors(form.classification)}}
                                                {{ form_widget(form.classification, {'attr': {'class': 'form-control autocomplete','placeholder':"Classification"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Content Language"|trans}}</label>
                                                {{ form_errors(form.language)}}
                                                {{ form_widget(form.language, {'attr': {'class': 'form-control autocomplete','placeholder':"Content Language"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Location"|trans}}</label>
                                                {{ form_errors(form.location)}}
                                                {{ form_widget(form.location, {'attr': {'class': 'form-control autocomplete','placeholder':"Location"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Distribution"|trans}}</label>
                                                {{ form_errors(form.distribution)}}
                                                {{ form_widget(form.distribution, {'attr': {'class': 'form-control autocomplete','placeholder':"Distribution"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Audience"|trans}}</label>
                                                {{ form_errors(form.audience)}}
                                                {{ form_widget(form.audience, {'attr': {'class': 'form-control autocomplete','placeholder':"Audience"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Publisher"|trans}}</label>
                                                {{ form_errors(form.publisher)}}
                                                {{ form_widget(form.publisher, {'attr': {'class': 'form-control autocomplete','placeholder':"Publisher"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"og:type"|trans}}</label>
                                                {{ form_errors(form.ogType)}}
                                                {{ form_widget(form.ogType, {'attr': {'class': 'form-control autocomplete','placeholder':"og:type"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"og:Site_name"|trans}}</label>
                                                {{ form_errors(form.ogSiteName)}}
                                                {{ form_widget(form.ogSiteName, {'attr': {'class': 'form-control autocomplete','placeholder':"og:Site_name"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"og:image"|trans}}</label>
                                                {{ form_errors(form.ogImage)}}
                                                {{ form_widget(form.ogImage, {'attr': {'class': 'form-control autocomplete','placeholder':"og:image"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"og:image type"|trans}}</label>
                                                {{ form_errors(form.ogImageType)}}
                                                {{ form_widget(form.ogImageType, {'attr': {'class': 'form-control autocomplete','placeholder':"og:image type"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Copyright"|trans}}</label>
                                                {{ form_errors(form.copyright)}}
                                                {{ form_widget(form.copyright, {'attr': {'class': 'form-control autocomplete','placeholder':"Copyright"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Twitter:card"|trans}}</label>
                                                {{ form_errors(form.twitterCard)}}
                                                {{ form_widget(form.twitterCard, {'attr': {'class': 'form-control autocomplete','placeholder':"Twitter:card"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Twitter:creator"|trans}}</label>
                                                {{ form_errors(form.twitterCreator)}}
                                                {{ form_widget(form.twitterCreator, {'attr': {'class': 'form-control autocomplete','placeholder':"Twitter:creator"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Twitter:title"|trans}}</label>
                                                {{ form_errors(form.twitterTitle)}}
                                                {{ form_widget(form.twitterTitle, {'attr': {'class': 'form-control autocomplete','placeholder':"Twitter:title"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Twitter:description"|trans}}</label>
                                                {{ form_errors(form.twitterDescription)}}
                                                {{ form_widget(form.twitterDescription, {'attr': {'class': 'form-control autocomplete','placeholder':"Twitter:description"|trans}}) }}
                                            </div>
                                            <div class="col-sm-8">
                                                <label class="control-label">{{"Twitter:image"|trans}}</label>
                                                {{ form_errors(form.twitterImage)}}
                                                {{ form_widget(form.twitterImage, {'attr': {'class': 'form-control autocomplete','placeholder':"Twitter:image"|trans}}) }}
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                {{form_rest(form)}}
                                <div class="btn-group mr5 pull-right">
                                    <button type="reset" class="btn btn-danger btn-quirk btn-stroke">{{'Annuler'|trans}}</button>
                                </div>
                                <div class="btn-group mr5 pull-right">
                                    <button type="submit" class="btn btn-primary btn-quirk btn-stroke">{{'Valider'|trans}}</button>
                                </div>
                                <div class="btn-group mr5 pull-right">
                                    <button type="submit" class="btn btn-primary btn-quirk btn-stroke" style="display: {{ display }}" name="ajout">{{'Valider/Ajouter'|trans}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <!-- jQuery -->
    <script src="{{ asset("js/jquery.min.js") }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset("js/bootstrap.min.js") }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ asset("js/metisMenu.min.js") }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset("js/startmin.js") }}"></script>
{% endblock %}


