{% extends "default/index.html.twig" %}
{% block container %}
    <div id="wrapper">
        <div id="container">
            <div id="page-wrapper">
                <div class="container-fluid">
                </div>
            </div>
         </div>
    </div>
{% endblock %}