{% extends "default/front.html.twig" %}

{% block container %}
    <style>
        @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

        body {
            font-family: "Open Sans", Arial;
            background: #CCC;
        }
        main {
            background: #EEE;
            width: 600px;
            margin: 20px auto;
            padding: 10px 0;
            box-shadow: 0 3px 5px rgba(0,0,0,0.3);
        }
        h2 {
            text-align: center;
        }
        p {
            font-size: 13px;
        }

        label {
            display: block;
            padding: 0.5em;
            text-align: center;
            border-bottom: 1px solid #CCC;
            color: #666;
        }
        label:hover {
            color: #000;
        }
        label::before {
            position: static;
            font-family: Consolas, monaco, monospace;
            font-weight: bold;
            font-size: 15px;
            vertical-align: text-top;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 3px;
            background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
        }
        #expand {
            height: 0px;
            overflow: hidden;
            transition: height 0.5s;
        }
        section {
        }
        #toggle:checked ~ #click {
            innerHTML: 'Voir moins';
        }
        #toggle:checked ~ #expand {
            height: 700px;
        }
        #toggle:checked ~ label::before {
            content: "-";
        }
    </style>
    <div id="wrapper">
    <div id="container">
    <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->
    <div class="page_wrapper">
    <div class="container">
    <div class="section_offset">
    <div class="row">
    <div class="col-xs-12">
        <!-- - - - - - - - - - - - - - Product image column - - - - - - - - - - - - - - - - -->
        <div class="single_product">
            <!-- - - - - - - - - - - - - - Image preview container - - - - - - - - - - - - - - - - -->
            <!-- - - - - - - - - - - - - - Image preview container - - - - - - - - - - - - - - - - -->
             <section class="section_offset animated transparent" data-animation="fadeInDown">
                 <div class="panel">
                     <img src="{{ asset("image/produit/")~produit.logo }}" style="width:600px;height: 300px;" id="logo">
                     <!-- - - - - - - - - - - - - - Carousel of brands - - - - - - - - - - - - - - - - -->
                     <h3 class="offset_title">Images produits</h3>
                     <div class="owl_carousel brands">
                         <!--Brand-->
                         <img src="{{ asset("image/produit/")~produit.logo }}" style="width:600px;" id="logo1">
                         {% for image in logos %}
                             <img src="{{ asset("image/logo/")~image.src }}" style="width:100px;height: 100px;" id="{{ image.id }}">
                         {% endfor %}
                         <!--End brand-->
                     </div><!--/ .owl_carousel-->
                     <!-- - - - - - - - - - - - - - End of carousel of brands - - - - - - - - - - - - - - - - -->
                 </div>
             </section><!--/ .section_offset.animated.transparent-->
            <!-- - - - - - - - - - - - - - End of image preview container - - - - - - - - - - - - - - - - -->
        </div>
        <!-- - - - - - - - - - - - - - End of product image column - - - - - - - - - - - - - - - - -->
        <div class="col-sm-7" id="pop1">
            <h3><a href="#">{{ produit.designation }}</a></h3>
            <div class="description_section v_centered">
                <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->
                <ul class="rating">
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                </ul>
                <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->
            </div>
            <div class="description_section col-sm-8">
                <table class="product_info">
                    <tbody>
                    <tr>
                        <td>Fabricant  : </td>
                        <td><a href="#"> {{ produit.fabricant }}</a></td>
                    </tr>
                    <tr>
                        <td>Disponibilité  : </td>
                        <td> {{ quantite }} <span class="in_stock">articles en stock</span></td>
                    </tr>
                    <tr>
                        <td>Référence  : </td>
                        <td>{{ produit.ref }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="description_section col-sm-4" style="border: 2px solid #c50000;">
                <p class="product_price" style="padding-top: 5%;"><a style="color: #b2b2b2;font-size: 20px;">Prix :  </a><b class="theme_color" style="font-size: 40px;">{{ produit.ttc }}€</b></p>
                <p class="product_price" style="padding-bottom: 10%;"><s style="font-size: 20px;padding-left: 27%;">{{ produit.ht }}€</s> </p>
            </div>
            <br><br><br><br>
            <h3>Descripstion de {{ produit.designation }}</h3>

            <p>{{ produit.descriptif }}</p>

            <label for="toggle"  class="button_dark_grey middle_btn quick_view pull-right" id="click">Voir Plus</label><input id="toggle" type="checkbox" >
            <br>
                <div id="expand">
                    <section>
                        <div class="description_section" >
                            <br>
                            <p>Pour plus de détails sur la norme {{ produit.norme }}, rendez-vous içi :</p>
                            <a href="{{ produit.lien }}"><span style="color: #880000;">{{ produit.lien }}</span></a>
                            <p>Ce turbo est compatible avec certains modèles de voitures parmi :</p>
                            {{ produit.Marqueid.designation }}
                            <p>Pensez à vérifier les modes d'expédition disponibles pour ce turbo pas cher.</p>
                            <p> En cas de question, n'hésitez pas à nous contacter.</p>
                        </div>

                        <hr>
                        <br>
                        <h3 style="color: #880000;">AFFECTATION VÉHICULES</h3>

                        <div class="row">
                            <div class="table-responsive">
                                <table id="dataTable1" class="table table-bordered table-striped-col table-hover" style="margin-top: 20px;">
                                    <thead>
                                    <tr>
                                        <th>Marque</th>
                                        <th>Modèle</th>
                                        <th>Cylindrée</th>
                                        <th>Puissance</th>
                                        <th>Type Moteur</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ produit.Marqueid.designation }}</td>
                                        <td>{{ produit.Modeleid.designation }}</td>
                                        <td>{{ produit.Cylindreeid.designation }}</td>
                                        <td>{{ produit.Puissanceid.designation }}</td>
                                        <td>{{ produit.Type_moteurid.designation }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br>
                        <h3 style="color: #880000;">RÉFÉRENCES TURBOS</h3>

                        <div class="row">
                            <div class="table-responsive">
                                <table id="dataTable1" class="table table-bordered table-striped-col table-hover" style="margin-top: 20px;">

                                    <tbody>
                                    <tr>
                                        <td style="font-weight: bold;">Fabricant	</td>
                                        <td>{{ produit.fabricant }}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Code turbo origine</td>
                                        <td>{{ produit.code }}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Référence d'origine</td>
                                        <td>{{ produit.reforigine }}</td>
                                    </tr>
                                    <tr>
                                        <td style="font-weight: bold;">Référence fabriquant</td>
                                        <td>{{ produit.reffabricant }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="form-group">
                    <label>Quantité</label>
                    <input type="number" name="quantite" id="quantite" value="1"/>
                    <br><br>
                    <button type="submit" id="click1" class="button_blue middle_btn add_to_cart pull-right">Ajouter Au Panier</button>
                </div>


        <!-- - - - - - - - - - - - - - Product description column - - - - - - - - - - - - - - - - -->

        <div class="single_product_description col-sm-12">




            <!-- - - - - - - - - - - - - - Product size - - - - - - - - - - - - - - - - -->

           <!-- <div class="description_section_2 v_centered">

                <span class="title">Size:</span>

                <div class="custom_select min">

                    <select>

                        <option value="Small">Small</option>
                        <option value="Middle">Middle</option>
                        <option value="Big">Big</option>

                    </select>

                </div>

            </div>-->

            <!-- - - - - - - - - - - - - - End of product size - - - - - - - - - - - - - - - - -->


        </div>

        <!-- - - - - - - - - - - - - - End of product description column - - - - - - - - - - - - - - - - -->

    </div>
        <div class="col-sm-7" id="pop">



        <!-- - - - - - - - - - - - - - Product description column - - - - - - - - - - - - - - - - -->

        <div class="single_product_description" style="margin-left:390px;margin-top:-500px;width: 500px;">

            <img src="{{ asset("image/ok.jpg") }}"  style="height: 30px;width: 30px;"><span style="color:#0d0c0a;font-size: 17px;padding-left: 5%;padding-top: 10%;">Ce produit a été ajouté au votre panier</span><br>

            <div class="description_section" style="padding-top: 5%;">
                <h3><a href="#">{{ produit.designation }}</a></h3>

                <table class="product_info">

                    <tbody>

                    <tr>

                        <td>Prix: </td>
                        <td id="prix"></td>

                    </tr>
                    <tr>

                        <td>Quantités: </td>
                        <td id="quan"></td>

                    </tr>

                    <tr>

                        <td>Total: </td>
                        <td id="total"></td>

                    </tr>



                    </tbody>

                </table>

            </div>

            <!-- - - - - - - - - - - - - - Product size - - - - - - - - - - - - - - - - -->

            <!-- <div class="description_section_2 v_centered">

                 <span class="title">Size:</span>

                 <div class="custom_select min">

                     <select>

                         <option value="Small">Small</option>
                         <option value="Middle">Middle</option>
                         <option value="Big">Big</option>

                     </select>

                 </div>

             </div>-->

            <!-- - - - - - - - - - - - - - End of product size - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - Quantity - - - - - - - - - - - - - - - - -->

             <div class="buttons_row">

                <a href="{{ path('simulation_crm_ajout_panier')}}"><button class="button_blue middle_btn">Accéder au Panier</button></a>
                <a href="{{ path('kalitys_crm_frontpage')}}"><button class="button_dark_grey middle_btn quick_view">continuer vos achats</button></a>

            </div>


        <!-- - - - - - - - - - - - - - End of product description column - - - - - - - - - - - - - - - - -->

    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>


{% endblock %}
        {% block javascript %}
    <!-- Include Libs & Plugins
============================================ -->
    <script src="{{ asset("jsFront/jquery-2.1.1.min.js") }}"></script>
    <script src={{ asset("jsFront/queryloader2.min.js") }}""></script>
    <script src="{{ asset("jsFront/layerslider/js/greensock.js") }}"></script>
    <script src="{{ asset("jsFront/layerslider/js/layerslider.transitions.js") }}"></script>
    <script src="{{ asset("jsFront/layerslider/js/layerslider.kreaturamedia.jquery.js") }}"></script>
    <script src="{{ asset("jsFront/jquery.appear.js") }}"></script>
    <script src="{{ asset("jsFront/owlcarousel/owl.carousel.min.js") }}"></script>
    <script src="{{ asset("jsFront/jquery.countdown.plugin.min.js") }}"></script>
    <script src="{{ asset("jsFront/jquery.countdown.plugin.min.js") }}"></script>
    <script src="{{ asset("jsFront/arcticmodal/jquery.arcticmodal.js") }}"></script>
    <script src="{{ asset("twitter/jquery.tweet.min.js") }}"></script>
    <script src="{{ asset("jsFront/colorpicker/colorpicker.js") }}"></script>
    <script src="{{ asset("jsFront/retina.min.js") }}"></script>
    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js"></script>

    <!-- Theme files
    ============================================ -->
    <script src="{{ asset("jsFront/theme.plugins.js") }}"></script>
    <script src="{{ asset("jsFront/theme.core.js") }}"></script>
    <!-- select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
    <script>

            {% for image in logos %}
                $('#{{ image.id }}').on('click',function () {
                    var pic = document.getElementById('{{ image.id }}');
                    var logo = document.getElementById('logo');
                    logo.src=pic.src;
                })
            {% endfor %}
            $('#logo1').on('click',function () {
                var pic = document.getElementById('logo1');
                var logo = document.getElementById('logo');
                logo.src=pic.src;
            })
            document.getElementById("pop").style.visibility='hidden';
            $("#click1").on('click',function(){
                   var quantite=$('#quantite').val();
                   var url = "{{ path('simulation_crm_ajout_panier_popUp',{'id':produit.id,'quantite':'aa'}) }}";
                   var path=url.replace('aa',quantite);
                    $.ajax({
                        ajax: true,
                        url: path,
                        success: function (data) {
                            document.getElementById('prix').innerHTML = {{ produit.ttc }}+" €";
                            document.getElementById('quan').innerHTML = data[0]['quantite'];
                            document.getElementById('total').innerHTML = data[0]['total']+" €";
                            document.getElementById("pop1").style.visibility='hidden';
                            document.getElementById("pop").style.visibility='visible';

                        }
                    });
            })

    </script>

{% endblock %}