<!doctype html>
{% block stylesheeet%}
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="subject" CONTENT="kalidys">
    <meta name="revisit-after" content="... days" />
    <meta name="identifier-url" content="http://kalitys.test-dewinter.com/web/app_dev.php/accueil" />
    <link rel="canonical" href="http://kalitys.test-dewinter.com/web/app_dev.php/accueil"/>

    <meta name="Rating" content="General" />
    <meta name="organization" content="kalidys" />
    <meta name="Classification" CONTENT="mots clès">
    <meta http-equiv="Content-Language" content="fr" />
    <meta name="location" content="France" />
    <meta name="Distribution" content="Global" />
    <meta name="Audience" content="General" />

    <meta name="google-site-verification" content="......." />
    <meta name="author" lang="fr" content="kalidys">

    <link rel="canonical" href="http://kalitys.test-dewinter.com/web/app_dev.php/accueil"/>
    <link rel="publisher" href="https://plus.google.com/u/0/102234588862992063170"/>
    <link rel="publisher" href="https://www.linkedin.com/in/kalitys-kalitys-9a5887154/"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@.......">
    <meta name="twitter:title" content="titre de la page twitter">
    <meta name="twitter:description" content="description de page twitter">
    <meta name="twitter:image" content="lien de logo">


    <meta property="og:type" content="website" />
    <meta property="og:title" content="kalidys"/>
    <meta property="og:description" content="desc siteweb"/>
    <meta property="og:url" content="http://kalitys.test-dewinter.com/web/app_dev.php/accueil"/>
    <meta property="og:site_name" content="kalydis"/>
    <meta property="og:image" content="lien de logo"/>
    <meta property="og:image:type" content="image/jpg">
    <meta name="reply-to" content="kalidysvente@gmail.com">
    <meta name="copyright" content="DE WINTER GROUP SA">

    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset("imagesFront/fav_icon.ico") }}">

    <!-- Google web fonts
    ============================================ -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="{{ asset("cssFront/animate.css") }}">
    <link rel="stylesheet" href="{{ asset("cssFront/fontello.css") }}">
    <link rel="stylesheet" href="{{ asset("cssFront/bootstrap.min.css") }}">

    <!-- Theme CSS
    ============================================ -->
    <link rel="stylesheet" href="{{ asset("jsFront/layerslider/css/layerslider.css") }}">
    <link rel="stylesheet" href="{{ asset("jsFront/owlcarousel/owl.carousel.css") }}">
    <link rel="stylesheet" href="{{ asset("jsFront/arcticmodal/jquery.arcticmodal.css") }}">
    <link rel="stylesheet" href="{{ asset("cssFront/style.css") }}">
    <!-- select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
    <style>
        .search > * {
            height:44px !important;
            border-top:2px solid #c50000 !important;
            border-bottom:2px solid #c50000 !important;
        }
        .search > *:first-child{
            border-right:1px solid #c50000;
            border-left:2px solid #c50000;
        }
        #open_shopping_cart::before{
            font-family: 'fontello';
            content: '\eb77';
            color:#c50000;
            font-size: 42px;
            line-height: 42px;
            position: absolute;
            left:18px;
            top: 50%;
            margin-top: -22px;
        }
        .pags > li.active > a,
        .pags > li > a:hover{
            color: #fff;
            background: #c50000;
            border-color: #c50000;
        }
        .ts_nav > li.active > a,
        .ts_nav > li:hover > a,
        .tabs_nav > li.active > a,
        .tabs_nav > li:hover > a{
            color:#fff;
            background:#c50000;
            border-color:#c50000;
        }
        .button_grey{
            color:#c50000;
            background: #f8f8f8;
        }
        .product_price{
            font-size:16px;
            color:#c50000;
        }
        .button_grey:hover,
        .button_grey.active,
        .button_blue:hover{
            color:#fff;
            background: #c50000;
        }
        .button_blue,
        .theme_button:hover,
        .button_grey_2:hover{
            color:#fff;
            background: #c50000;
            border-color: #c50000;
        }
        [class*="c_info_"]:not(ul)::after{
            font-family: 'fontello';
            color:#c50000;
            font-size:16px;
            position: absolute;
            left:0;
            top:0;
        }
        .label_new{ background:#c50000; }


    </style>

    <!-- Old IE stylesheet
    ============================================ -->
    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="{{ asset("cssFront/oldie.css") }}">
    <![endif]-->
{% endblock %}
<html lang="en">
<head>
    <!-- Basic page needs
    ============================================ -->
    <title>ShopMe | Home</title>

    <!-- JS Libs
    ============================================ -->
    <script src="{{ asset("jsFront/modernizr.js") }}"></script>


</head>
<body class="front_page">



<!-- - - - - - - - - - - - - - Main Wrapper - - - - - - - - - - - - - - - - -->

<div class="wide_layout">

    <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

    <header id="header">

        <!-- - - - - - - - - - - - - - Top part - - - - - - - - - - - - - - - - -->

        <div class="top_part" style="margin-bottom:-8px;">

            <div class="container">

                <div class="row" >

                    <div class="col-lg-6 col-md-7 col-sm-8">

                        <!-- - - - - - - - - - - - - - Navigation of shop - - - - - - - - - - - - - - - - -->

                        <nav>

                            <ul class="topbar">

                                <li><a href="{{ path("kalitys_crm_frontpage") }}">Page d'accueil</a></li>
                                <li><a href="#">Album</a></li>
                                <li><a href="#">Boutique</a></li>
                                <li><a href="#">Liens</a></li>
                                <li><a href="#">Contact</a></li>

                            </ul>

                        </nav>

                        <!-- - - - - - - - - - - - - - End navigation of shop - - - - - - - - - - - - - - - - -->

                    </div> <!--/ [col]-->

                    <div class="col-lg-6 col-md-5 col-sm-4">

                        <div class="clearfix">
                            <!-- - - - - - - - - - - - - - Call to action - - - - - - - - - - - - - - - - -->

                            <div class="call_us alignright site_settings">

                                <span>Contacter Nous Sur :</span> <b style="color:#c50000;">06.76.33.96.79</b>

                            </div><!--/ .call_us-->

                            <!-- - - - - - - - - - - - - - Language change - - - - - - - - - - - - - - - - -->

                           <!-- <div class="alignright site_settings">

                                <span class="current open_"><img src="{{ asset("imagesFront/flag_fr.png") }}" alt="">Francais</span>

                                <ul class="dropdown site_setting_list language">

                                    <li class="animated_item"><a href="#"><img src="{{ asset("imagesFront/flag_en.jpg") }}" alt=""> Anglais</a></li>
                                    <li class="animated_item"><a href="#"><img src="{{ asset("imagesFront/flag_g.jpg") }}" alt=""> Allmand</a></li>
                                    <li class="animated_item"><a href="#"><img src="{{ asset("imagesFront/flag_s.jpg") }}" alt=""> Spagnol</a></li>

                                </ul>

                            </div><!--/ .alignright.site_settings-->

                            <!-- - - - - - - - - - - - - - End of language change - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Currency change - - - - - - - - - - - - - - - - -->

                           <!-- <div class="alignright site_settings currency">

                                <span class="current open_">USD</span>

                                <ul class="dropdown site_setting_list">

                                    <li class="animated_item"><a href="#">USD</a></li>
                                    <li class="animated_item"><a href="#">EUR</a></li>
                                    <li class="animated_item"><a href="#">GBP</a></li>

                                </ul>

                            </div><!--/ .alignright.site_settings.currency-->

                            <!-- - - - - - - - - - - - - - End of currency change - - - - - - - - - - - - - - - - -->

                        </div><!--/ .clearfix-->

                    </div><!--/ [col]-->

                </div><!--/ .row-->

            </div><!--/ .container -->

        </div><!--/ .top_part -->

        <!-- - - - - - - - - - - - - - End of top part - - - - - - - - - - - - - - - - -->

        <hr>

        <!-- - - - - - - - - - - - - - Bottom part - - - - - - - - - - - - - - - - -->

        <div class="bottom_part">

            <div class="container">

                <div class="row">

                    <div class="main_header_row">

                        <div class="col-sm-3">

                            <!-- - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - -->

                            <a href="index.html" class="logo">

                                <img src="{{ asset("image/logo.png") }}" alt="" style="margin-bottom:-25px;margin-top:-25px;">

                            </a>

                            <!-- - - - - - - - - - - - - - End of logo - - - - - - - - - - - - - - - - -->

                        </div><!--/ [col]-->
                       <div class="col-lg-6 col-md-5 col-sm-5"></div>

                        <div class="col-lg-3 col-sm-4">

                            <!-- - - - - - - - - - - - - - Wishlist & compare counters - - - - - - - - - - - - - - - - -->

                          <!--  <div class="align_right shop_links">

                                <a href="#" class="small_link" style="color:#c50000;"><i class="icon-heart-5" style="color:#c50000;"></i>Liste des souhaits</a>
                                <a href="#" class="small_link" style="color:#c50000;"><i class="icon-resize-small"  style="color:#c50000;"></i> </a>

                            </div><!--/ .align_right.shop_links-->

                            <!-- - - - - - - - - - - - - - End of wishlist & compare counters - - - - - - - - - - - - - - - - -->

                            <div class="align_right">
                                {% if app.user %}

                                <!-- - - - - - - - - - - - - - Login / register - - - - - - - - - - - - - - - - -->
                                    <div class="login">

                                        <a    class="small_link" href="{{ path("fos_user_security_logout") }}">Logout</a>

                                    </div><!--/ .login-->

                                {% else %}
                                    <div class="login">

                                        <a  class="small_link" href="#" data-modal-url="{{ path("fos_user_profile_show") }}">Login</a>

                                    </div><!--/ .login-->
                                    <div class="login">

                                        <a   class="small_link" data-modal-url="{{ path("fos_user_registration_register") }}">/Inscri</a>

                                    </div><!--/ .login-->
                                {% endif %}
                                <!-- - - - - - - - - - - - - - End of Login / register - - - - - - - - - - - - - - - - -->

                                <!-- - - - - - - - - - - - - - Shopping cart - - - - - - - - - - - - - - - - -->

                                <div class="shopping_cart_wrap">

                                   <a href="{{ path('simulation_crm_ajout_panier') }}"><button id="open_shopping_cart" class="open_button" data-amount=""  >
                                        <b class="title">Panier</b>
                                           <b class="total_price" id="amount"></b>

                                       </button></a>

                                    <!-- - - - - - - - - - - - - - Products list - - - - - - - - - - - - - - - - -->


                                    <!-- - - - - - - - - - - - - - End of products list - - - - - - - - - - - - - - - - -->

                                </div><!--/ .shopping_cart_wrap.align_left-->

                                <!-- - - - - - - - - - - - - - End of shopping cart - - - - - - - - - - - - - - - - -->

                            </div><!--/ .align_right-->

                        </div><!--/ [col]-->


                    </div><!--/ .main_header_row-->
                    <br>
                    <div class="col-lg-3 col-sm-4">
                    </div>

                    <div class="col-lg-6 col-md-5 col-sm-5">


                        <!-- - - - - - - - - - - - - - End call to action - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Search form - - - - - - - - - - - - - - - - -->

                        <form class="clearfix search"  action="{{ path("simulation_crm_search_prod") }}"  style="margin-right:-186px;margin-top:20px;margin-left:100px;" >

                            <input type="text" name="search" tabindex="1" placeholder="Rchercher..." class="alignleft" style="border-top:#c50000;border-bottom:#c50000;" id="rechhaut">

                            <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->

                            <!-- <div class="search_category alignleft" style="border-top:#c50000;border-bottom:#c50000;border-color:#c50000;">

                                  <div class="open_categories">All Categories</div>

                                  <ul class="categories_list dropdown">

                                      <li class="animated_item"><a href="#">Medicine &amp; Health</a></li>
                                      <li class="animated_item"><a href="#">Beauty</a></li>
                                      <li class="animated_item"><a href="#">Personal Care</a></li>
                                      <li class="animated_item"><a href="#">Vitamins &amp; Supplements</a></li>
                                      <li class="animated_item"><a href="#">Baby Needs</a></li>
                                      <li class="animated_item"><a href="#">Diet &amp; Fitness</a></li>
                                      <li class="animated_item"><a href="#">Sexual Well-being</a></li>

                                  </ul>

                              </div><!--/ .search_category.alignleft-->

                            <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->

                            <button id="rechhaut" class="button_blue def_icon_btn alignleft" style="background:#c50000;border:#c50000;border-right:#c50000;"></button>

                        </form><!--/ #search-->

                        <!-- - - - - - - - - - - - - - End search form - - - - - - - - - - - - - - - - -->

                    </div><!--/ [col]-->
                </div><!--/ .row-->

            </div><!--/ .container-->

        </div><!--/ .bottom_part -->

        <!-- - - - - - - - - - - - - - End of bottom part - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Main navigation wrapper - - - - - - - - - - - - - - - - -->

        <div id="main_navigation_wrap">

            <div class="container">

                <div class="row">

                    <div class="col-xs-12">

                        <nav class="full_width_nav main_navigation">

                            <ul>

                                <li class="">

                                    <a href="{{ path("kalitys_crm_frontpage") }}">ACCUEIL</a>

                                </li>

                                <li class="">

                                    <a href="#">ACTUALITÉS</a>


                                </li>

                                <li class="">

                                    <a href="#">PRESENTATION</a>


                                </li>

                                <li class="">

                                    <a href="#">TURBO NEUF ORIGINE</a>

                                </li>

                                <li class="">

                                    <a href="#">CHRA NEUF</a>

                                </li>

                                <li class="">

                                    <a href="#">CONTACT</a>

                                </li>


                            </ul>

                        </nav><!--/ .main_navigation-->

                    </div><!--/ [col]-->

                </div><!--/ .row-->

            </div><!--/ .container-->

        </div><!--/ .main_navigation_wrap-->

        <!-- - - - - - - - - - - - - - End of main navigation wrapper - - - - - - - - - - - - - - - - -->

    </header>

    <!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->

   {% block container %}
   {% endblock %}

    <!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

    <footer id="footer">

        <!-- - - - - - - - - - - - - - Footer section- - - - - - - - - - - - - - - - -->

        <div class="footer_section_4">

            <div class="container">

                <div class="row">

                    <div class="col-sm-3">

                        <div class="widget">

                            <img src="{{ asset("image/logo.png") }}" alt="" class="footer_logo">

                        </div><!--/ .widget-->

                    </div><!--/ [col]-->

                    <div class="col-sm-6">

                        <div class="widget">

                            <p>Service commercial :
                            <p>Email: <a href="mailto: turbonovafrance@yahoo.fr" class="mail_to" style="color:#c50000;"> turbonovafrance@yahoo.fr</a></p>

                        </div><!--/ .widget-->

                    </div><!--/ [col]-->

                    <div class="col-sm-3">

                        <section class="widget">

                            <h4 class="streamlined_title">Follow Us</h4>

                            <!-- - - - - - - - - - - - - - Social icon's list - - - - - - - - - - - - - - - - -->

                            <ul class="social_btns">

                                <li>
                                    <a href="#" class="icon_btn middle_btn social_facebook tooltip_container"><i class="icon-facebook-1"></i><span class="tooltip top">Facebook</span></a>
                                </li>



                                <li>
                                    <a href="#" class="icon_btn middle_btn social_googleplus tooltip_container"><i class="icon-gplus-2"></i><span class="tooltip top">GooglePlus</span></a>
                                </li>

                                <li>
                                    <a href="#" class="icon_btn middle_btn social_pinterest tooltip_container"><i class="icon-pinterest-3"></i><span class="tooltip top">Pinterest</span></a>
                                </li>

                                <li>
                                    <a href="#" class="icon_btn middle_btn social_flickr tooltip_container"><i class="icon-flickr-1"></i><span class="tooltip top">Flickr</span></a>
                                </li>

                                <li>
                                    <a href="#" class="icon_btn middle_btn social_youtube tooltip_container"><i class="icon-youtube"></i><span class="tooltip top">Youtube</span></a>
                                </li>

                                <li>
                                    <a href="#" class="icon_btn middle_btn social_vimeo tooltip_container"><i class="icon-vimeo-2"></i><span class="tooltip top">Vimeo</span></a>
                                </li>

                                <li>
                                    <a href="#" class="icon_btn middle_btn social_instagram tooltip_container"><i class="icon-instagram-4"></i><span class="tooltip top">Instagram</span></a>
                                </li>

                                <li>
                                    <a href="#" class="icon_btn middle_btn social_linkedin tooltip_container"><i class="icon-linkedin-5"></i><span class="tooltip top">LinkedIn</span></a>
                                </li>

                            </ul>

                            <!-- - - - - - - - - - - - - - End social icon's list - - - - - - - - - - - - - - - - -->

                        </section><!--/ .widget-->

                    </div>

                </div><!--/ .row-->

            </div><!--/ .container-->

        </div><!--/ .footer_section-->

        <!-- - - - - - - - - - - - - - End footer section- - - - - - - - - - - - - - - - -->

        <hr>

        <!-- - - - - - - - - - - - - - Footer section- - - - - - - - - - - - - - - - -->

        <div class="footer_section">

            <div class="container">

                <div class="row">

                    <div class="col-md-3 col-sm-6">

                        <!-- - - - - - - - - - - - - - Information widget - - - - - - - - - - - - - - - - -->

                        <section class="widget">

                            <h4>Information</h4>

                            <ul class="list_of_links">

                                <li><a href="#">À Propos De Nous</a></li>
                                <li><a href="#">Contacter Nous</a></li>

                            </ul>

                        </section>

                        <!-- - - - - - - - - - - - - - End information widget - - - - - - - - - - - - - - - - -->

                    </div><!--/ [col]-->

                    <div class="col-md-3 col-sm-6">

                        <!-- - - - - - - - - - - - - - Account's links widget - - - - - - - - - - - - - - - - -->

                        <section class="widget">

                            <h4>Mon Compte</h4>

                            <ul class="list_of_links">

                                <li><a href="#">Mon Compte</a></li>
                                <li><a href="#">Historique</a></li>
                                <li><a href="#">Liste des souhaits</a></li>
                                <li><a href="#">Newsletter</a></li>

                            </ul>

                        </section><!--/ .widget-->

                        <!-- - - - - - - - - - - - - - End of account's links widget - - - - - - - - - - - - - - - - -->

                    </div><!--/ [col]-->

                    <div class="col-md-3 col-sm-6">

                        <!-- - - - - - - - - - - - - - Subscribe widget - - - - - - - - - - - - - - - - -->

                        <section class="widget">

                            <h4>Newsletter</h4>

                            <p class="form_caption">Inscrivez-vous à notre newsletter et recevez des offres exclusives que vous ne trouverez nulle part ailleurs directement dans votre boîte de réception!</p>
                            <form class="newsletter subscribe clearfix" novalidate>

                                <input type="email" name="sc_email" placeholder="Enter your email address">

                                <button class="button_blue def_icon_btn"></button>

                            </form>

                        </section><!--/ .widget-->

                        <!-- - - - - - - - - - - - - - End of subscribe widget - - - - - - - - - - - - - - - - -->

                    </div><!--/ [col]-->

                    <div class="col-md-3 col-sm-6">

                        <!-- - - - - - - - - - - - - - Contact Us widget - - - - - - - - - - - - - - - - -->

                        <section class="widget">

                            <h4>Contacter Nous </h4>

                            <ul class="c_info_list">

                                <li class="c_info_location">TURBONOVA<br>10, route de Ruffey, 21250 Villy le Moutier</li>
                                <li class="c_info_phone">06.76.33.96.79</li>
                                <li class="c_info_mail"><a href="mailto:#">urbonovafrance@yahoo.fr</a></li><br>Siret : 43938906500061
                                <li class="c_info_schedule">

                                    <ul>

                                        <li>Lundi-Jeudi: 8.00-20.00</li>
                                        <li>Samedi: 9.00-15.00</li>
                                        <li>Dimanche: closed</li>

                                    </ul>

                                </li>

                            </ul>

                        </section><!--/ .widget-->

                        <!-- - - - - - - - - - - - - - End of contact us widget - - - - - - - - - - - - - - - - -->

                    </div>

                </div><!--/ .row-->

            </div><!--/ .container-->

        </div><!--/ .footer_section_2-->

        <!-- - - - - - - - - - - - - - End footer section- - - - - - - - - - - - - - - - -->

        <hr>

        <!-- - - - - - - - - - - - - - Footer section - - - - - - - - - - - - - - - - -->

        <div class="footer_section_3 align_center">

            <div class="container">

                <!-- - - - - - - - - - - - - - Payments - - - - - - - - - - - - - - - - -->

                <ul class="payments">

                    <li><img src="{{ asset("imagesFront/payment_1.png") }}" alt=""></li>
                    <li><img src="{{ asset("imagesFront/payment_2.png") }}" alt=""></li>
                    <li><img src="{{ asset("imagesFront/payment_3.png") }}" alt=""></li>
                    <li><img src="{{ asset("imagesFront/payment_4.png") }}" alt=""></li>
                    <li><img src="{{ asset("imagesFront/payment_5.png") }}" alt=""></li>
                    <li><img src="{{ asset("imagesFront/payment_6.png") }}" alt=""></li>
                    <li><img src="{{ asset("imagesFront/payment_7.png") }}" alt=""></li>
                    <li><img src="{{ asset("imagesFront/payment_8.png") }}" alt=""></li>

                </ul>

                <!-- - - - - - - - - - - - - - End of payments - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Footer navigation - - - - - - - - - - - - - - - - -->

                <nav class="footer_nav">

                    <ul class="bottombar">

                        <li><a href="#">ACCUEIL</a></li>
                        <li><a href="#">ACTUALITES</a></li>
                        <li><a href="#">PRESENTATION</a></li>
                        <li><a href="#">TURBO NEUF ORIGINE</a></li>
                        <li><a href="#">CHRA NEUF</a></li>
                        <li><a href="#">CONTACT</a></li>

                    </ul>

                </nav>

                <!-- - - - - - - - - - - - - - End of footer navigation - - - - - - - - - - - - - - - - -->

                <p class="copyright">&copy; 2017 <a href="index.html">kalidys</a>. Tous Les Droits Sont Réservés.</p>

            </div><!--/ .container-->

        </div><!--/ .footer_section-->

        <!-- - - - - - - - - - - - - - End footer section - - - - - - - - - - - - - - - - -->

    </footer>

    <!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->

</div><!--/ [layout]-->

<!-- - - - - - - - - - - - - - End Main Wrapper - - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - - Social feeds - - - - - - - - - - - - - - - - -->

<ul class="social_feeds">

    <!-- - - - - - - - - - - - - - Facebook - - - - - - - - - - - - - - - - -->

    <li>

        <button class="icon_btn middle_btn social_facebook open_"><i class="icon-facebook-1"></i></button>


        <section class="dropdown">

            <div class="animated_item">

                <h3 class="title">Join Us on Facebook</h3>

            </div><!--/ .animated_item-->

            <div class="animated_item">

                <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fthemeforest&amp;width=235&amp;height=345&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=438889712801266" style="border:none; overflow:hidden; width:235px; height:345px;"></iframe>

            </div><!--/ .animated_item-->

        </section><!--/ .dropdown-->

    </li>

    <!-- - - - - - - - - - - - - - End of Facebook - - - - - - - - - - - - - - - - -->


    <!-- - - - - - - - - - - - - - Contact us - - - - - - - - - - - - - - - - -->

    <li>

        <button class="icon_btn middle_btn social_contact open_"><i class="icon-mail-8"></i></button>

        <section class="dropdown">

            <div class="animated_item">

                <h3 class="title">Contact Us</h3>

            </div><!--/ .animated_item-->

            <div class="animated_item">

                <p class="form_caption">Lorem ipsum dolor sit amet, adipis mauris accumsan.</p>

                <form class="contactform" novalidate>

                    <ul>

                        <li class="row">

                            <div class="col-xs-12">

                                <input type="text" required title="Name" name="cf_name" placeholder="Your name">

                            </div>

                        </li>

                        <li class="row">

                            <div class="col-xs-12">

                                <input type="email" required title="Email" name="cf_email" placeholder="Your address">

                            </div>

                        </li>

                        <li class="row">

                            <div class="col-xs-12">

                                <textarea placeholder="Message" required title="Message" name="cf_message" rows="6"></textarea>

                            </div>

                        </li>

                        <li class="row">

                            <div class="col-xs-12">

                                <button class="button_grey middle_btn">Send</button>

                            </div>

                        </li>

                    </ul>

                </form>

            </div><!--/ .animated_item-->

        </section><!--/ .dropdown-->

    </li>

    <!-- - - - - - - - - - - - - - End contact us - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Google map - - - - - - - - - - - - - - - - -->

    <li>

        <button class="icon_btn middle_btn social_gmap open_"><i class="icon-location-4"></i></button>

        <!--Location-->

        <section class="dropdown">

            <div class="animated_item">

                <h3 class="title">Store Location</h3>

            </div><!--/ .animated_item-->

            <div class="animated_item">

                <p class="c_info_location">8901 Marmora Road,<br>Glasgow, D04 89GR.</p>

                <div class="proportional_frame">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3024.238131852431!2d-74.006059!3d40.712773999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258fda88cefb3%3A0x7f1e88758d210007!2z0J3RjNGOLdC50L7RgNC60YHQutC40Lkg0KHQuNGC0Lgt0YXQvtC70Ls!5e0!3m2!1sru!2sua!4v1415946524959" style="border:0"></iframe>

                </div>

                <ul class="c_info_list">

                    <li class="c_info_phone">800-599-65-80</li>
                    <li class="c_info_mail"><a href="mailto:#">info@companyname.com</a></li>
                    <li class="c_info_schedule">

                        <ul>

                            <li>Monday-Friday: 8.00-20.00</li>
                            <li>Saturday: 9.00-15.00</li>
                            <li>Sunday: closed</li>

                        </ul>

                    </li>

                </ul>

            </div><!--/ .animated_item-->

        </section><!--/ .dropdown-->

    </li>

    <!-- - - - - - - - - - - - - - End google map - - - - - - - - - - - - - - - - -->

</ul>

<!-- - - - - - - - - - - - - - End Social feeds - - - - - - - - - - - - - - - - -->

<script>
    {% set articles =app.request.cookies.all() %}
    {% set count=0 %}
    {% for key,value in articles  %}
    {% set count=count+1%}
    {% endfor %}
    var amount=document.getElementById("amount");
    amount.innerHTML="{{ count -3}}"
</script>

</body>
</html>
{% block javascript %}
    <!-- Include Libs & Plugins
============================================ -->
    <script src="{{ asset("jsFront/jquery-2.1.1.min.js") }}"></script>
    <script src={{ asset("jsFront/queryloader2.min.js") }}""></script>
    <script src="{{ asset("jsFront/layerslider/js/greensock.js") }}"></script>
    <script src="{{ asset("jsFront/layerslider/js/layerslider.transitions.js") }}"></script>
    <script src="{{ asset("jsFront/layerslider/js/layerslider.kreaturamedia.jquery.js") }}"></script>
    <script src="{{ asset("jsFront/jquery.appear.js") }}"></script>
    <script src="{{ asset("jsFront/owlcarousel/owl.carousel.min.js") }}"></script>
    <script src="{{ asset("jsFront/jquery.countdown.plugin.min.js") }}"></script>
    <script src="{{ asset("jsFront/jquery.countdown.plugin.min.js") }}"></script>
    <script src="{{ asset("jsFront/arcticmodal/jquery.arcticmodal.js") }}"></script>
    <script src="{{ asset("twitter/jquery.tweet.min.js") }}"></script>
    <script src="{{ asset("jsFront/colorpicker/colorpicker.js") }}"></script>
    <script src="{{ asset("jsFront/retina.min.js") }}"></script>
    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js"></script>

    <!-- Theme files
    ============================================ -->
    <script src="{{ asset("jsFront/theme.plugins.js") }}"></script>
    <script src="{{ asset("jsFront/theme.core.js") }}"></script>
    <!-- select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>

{% endblock %}
