{% extends "default/front.html.twig" %}
{% block container %}
    <style>
        .stepwizard-step p {
            margin-top: 10px;
        }

        .stepwizard-row {
            display: table-row;
        }

        .stepwizard {
            display: table;
            width: 100%;
            position: relative;
        }

        .stepwizard-step button[disabled] {
            opacity: 1 !important;
            filter: alpha(opacity=100) !important;
        }

        .stepwizard-row:before {
            top: 14px;
            bottom: 0;
            position: absolute;
            content: " ";
            width: 100%;
            height: 1px;
            background-color: rgba(65, 163, 204, 0);
            z-order: 0;

        }

        .stepwizard-step {
            display: table-cell;
            text-align: center;
            position: relative;
        }

        .btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 30px;
            color: #c50000;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: bold;
            line-height: 1.428571429;
            border-radius: 15px;
        }
    </style>
    <div id="wrapper">
        <div id="container">
            <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

            <div class="page_wrapper">

                <div class="container">

                    <div class="section_offset">

                        <div class="row">

                            <div class="col-xs-12">

                                <!-- - - - - - - - - - - - - Recherche panel -->
                                <div class="panel" style="background-color: #ffffff;padding:10px 10px 10px 10px;margin-bottom:10px;">
                                    <section class="section_offset animated transparent" data-animation="fadeInDown" >
                                        <div class="panel" style="background-color:#ffffff;">
                                            <div class="stepwizard">
                                                <div class="stepwizard-row">
                                                    <div class="stepwizard-step">
                                                        <button type="button" class="btn btn-default btn-circle">1</button>
                                                    </div>
                                                    <div class="stepwizard-step">
                                                        <button type="button" class="btn btn-primary btn-circle">2</button>
                                                    </div>
                                                    <div class="stepwizard-step">
                                                        <button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <form  method="post" action="" class="validate form-horizontal" enctype="multipart/form-data" id="basicForm">
                                                <div class="row ajout-article">
                                                    <div class="form-group col-sm-4">
                                                        <div class="">
                                                            <label class="control-label">{{"Marques"|trans}}</label>
                                                            {{ form_errors(form.Marque)}}
                                                            {{ form_widget(form.Marque, {'attr': {'class': 'form-control autocomplete','placeholder':"Nom"|trans}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-4">
                                                        <div class="">
                                                            <label class="control-label">{{"Cylindrées"|trans}}</label>
                                                            {{ form_errors(form.Cylindree)}}
                                                            {{ form_widget(form.Cylindree, {'attr': {'class': 'form-control autocomplete','placeholder':"Nom"|trans,'disabled':'disabled'}}) }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-sm-4">
                                                        <div class="">
                                                            <label class="control-label">{{"Types Moteurs"|trans}}</label>
                                                            {{ form_errors(form.TypeMoteur)}}
                                                            {{ form_widget(form.TypeMoteur, {'attr': {'class': 'form-control autocomplete','placeholder':"Modèle"|trans,'disabled':'disabled'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-4">
                                                        <div class="">
                                                            <label class="control-label">{{"Modèles"|trans}}</label>
                                                            {{ form_errors(form.Modele)}}
                                                            {{ form_widget(form.Modele, {'attr': {'class': 'form-control autocomplete','placeholder':"Modèle"|trans,'disabled':'disabled'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-sm-4">
                                                        <div class="">
                                                            <label class="control-label">{{"Puissance"|trans}}</label>
                                                            {{ form_errors(form.Puissance)}}
                                                            {{ form_widget(form.Puissance, {'attr': {'class': 'form-control autocomplete','placeholder':"Modèle"|trans,'disabled':'disabled'}}) }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-sm-4" >
                                                        <div class="">
                                                            <br>
                                                            <label class="control-label">{{""|trans}}</label>
                                                            <a    class="button_dark_grey middle_btn" id="rech" name="rech" style="width:50%;float:right;background-color:#c50000;">Rechercher</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </section>

                                </div>
                                <!-- - - - - - - - - - - - - -end recherche - - - - - - - - - - - - - >

                                <!-- - - - - - - - - - - - - - Our brands - - - - - - - - - - - - - - - - -->



                                <!-- - - - - - - - - - - - - - End our brands - - - - - - - - - - - - - - - - -->

                                <!-- - - - - - - - - - - - - - Layer slider - - - - - - - - - - - - - - - - -->

                                <div class="layerslider" style="width:100%; height: 522px;">

                                    <!-- - - - - - - - - - - - - - Slide 1 - - - - - - - - - - - - - - - - -->

                                    <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

                                        <img class="ls-bg" src="{{ asset("imagesFront/home_slide_7.jpg") }}" alt="">

                                        <div class="ls-l layer_1" style="left: 80px; top:128px;color:#c50000;" data-ls="offsetxin: -60; durationin: 650; easingin: easeOutBack;">Best Quality</div>
                                        <div class="ls-l layer_2" style="left: 80px; top: 188px;color:#c50000;" data-ls="offsetxin: -60; durationin: 650; easingin: easeOutBack; delayin: 150;">Medications</div>
                                        <div class="ls-l layer_3" style="left: 80px; top: 252px;color:#c50000;" data-ls="offsetxin: -60; durationin: 650; easingin: easeOutBack; delayin: 300;">at Low Prices</div>

                                        <a href="#" class="ls-l button_blue huge_btn" style="left: 80px; top: 330px;background-color:#c50000;" data-ls="offsetxin: -60; durationin: 650; easingin: easeOutBack; delayin: 450;">Shop Now!</a>

                                    </div>

                                    <!-- - - - - - - - - - - - - - End of slide 1 - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Slide 2 - - - - - - - - - - - - - - - - -->

                                    <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

                                        <img class="ls-bg" src="{{ asset("imagesFront/home_slide_7.jpg") }}" alt="">

                                        <div class="ls-l layer_5" style="left: 50%; top:114px;" data-ls="offsetxin: -60; durationin: 650; easingin: easeOutBack; ">Have A Question?</div>
                                        <div class="ls-l layer_6" style="left: 50%; top: 185px;" data-ls="offsetxin: -60; durationin: 650; easingin: easeOutBack; delayin: 150; ">
                                            <small>Our</small> Pharmacists<br><small>Are</small> Ready <small>to</small> Help You!
                                        </div>

                                        <a href="#" class="ls-l button_blue huge_btn" style="left: 50%; top: 347px;" data-ls="offsetxin: -60; durationin: 650; easingin: easeOutBack; delayin: 450; ">Contact Us Now!</a>

                                    </div>

                                    <!-- - - - - - - - - - - - - - End of slide 2 - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Slide 3 - - - - - - - - - - - - - - - - -->

                                    <div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

                                        <img class="ls-bg" src="{{ asset("imagesFront/home_slide_7.jpg") }}" alt="">

                                        <div class="ls-l layer_8" style="left: 738px; top: 115px;" data-ls="offsetxin: 60; easingin: easeOutBack; durationin: 650;">Get 10% Off</div>
                                        <div class="ls-l layer_9" style="left: 732px; top: 174px;" data-ls="offsetxin: 60; delayin: 150; easingin: easeOutBack; durationin: 650;">For Reorders</div>
                                        <p class="ls-l layer_10" style="left: 717px; top: 250px;" data-ls="offsetxin: 60; delayin: 300; easingin: easeOutBack; durationin: 650;">Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus at ultrices.</p>

                                        <a href="#" class="ls-l button_blue huge_btn" style="left: 910px; top: 345px;" data-ls="offsetxin: 60; delayin: 450; easingin: easeOutBack; durationin: 650;">Read More</a>

                                    </div>

                                    <!-- - - - - - - - - - - - - - End of slide 3 - - - - - - - - - - - - - - - - -->

                                </div><!--/ #layerslider-->

                                <!-- - - - - - - - - - - - - - End of layer slider - - - - - - - - - - - - - - - - -->

                            </div><!--/ [col]-->

                        </div><!--/ .row-->

                    </div>
                    <!--/ .section_offset-->

                    <div class="row">

                        <aside class="col-md-3 col-sm-4">

                            <!-- - - - - - - - - - - - - - Today's deals - - - - - - - - - - - - - - - - -->

                            <section class="section_offset animated transparent" data-animation="fadeInDown">

                                <h3 class="widget_title" style="color:#c50000;">Today's Deals</h3>

                                <!-- - - - - - - - - - - - - - Carousel of today's deals - - - - - - - - - - - - - - - - -->

                                <div class="owl_carousel widgets_carousel">

                                    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                                    <div class="product_item">

                                        <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

                                        <div class="image_wrap">

                                            <img src="{{  asset("imagesFront/deals_img_1.jpg")}}" alt="">

                                            <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

                                            <div class="actions_wrap">

                                                <div class="centered_buttons">

                                                    <a href="#" class="button_dark_grey middle_btn quick_view" data-modal-url="modals/quick_view.html">Quick View</a>

                                                    <a href="#" class="button_blue middle_btn add_to_cart">Add to Cart</a>

                                                </div><!--/ .centered_buttons -->

                                                <a href="#" class="button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container"><span class="tooltip right">Add to Wishlist</span></a>

                                                <a href="#" class="button_dark_grey def_icon_btn middle_btn add_to_compare tooltip_container"><span class="tooltip left">Add to Compare</span></a>

                                            </div><!--/ .actions_wrap-->

                                            <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

                                        </div><!--/. image_wrap-->

                                        <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->

                                        <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

                                        <div class="label_offer percentage">

                                            <div>30%</div>OFF

                                        </div>

                                        <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

                                        <!-- - - - - - - - - - - - - - Countdown - - - - - - - - - - - - - - - - -->

                                        <div class="" data-year="2016" data-month="11" data-day="6" data-hours="15" data-minutes="0" data-seconds="0"></div>

                                        <!-- - - - - - - - - - - - - - End countdown - - - - - - - - - - - - - - - - -->

                                        <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->

                                        <div class="description">

                                            <p><a href="#">Tellus Dolor Dapibus Eget 24 fl oz</a></p>

                                            <div class="clearfix product_info">

                                                <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

                                                <ul class="rating alignright">

                                                    <li class="active"></li>
                                                    <li class="active"></li>
                                                    <li class="active"></li>
                                                    <li class="active"></li>
                                                    <li></li>

                                                </ul>

                                                <!-- - - - - - - - - - - - - - End product rating - - - - - - - - - - - - - - - - -->

                                                <p class="product_price alignleft"><s>$9.99</s> <b>$5.99</b></p>

                                            </div><!--/ .clearfix.product_info-->

                                        </div>

                                        <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->

                                    </div><!--/ .product_item-->

                                    <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                                    <div class="product_item">

                                        <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

                                        <div class="image_wrap">

                                            <img src="{{ asset("imagesFront/deals_img_2.jpg") }}" alt="">

                                            <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

                                            <div class="actions_wrap">

                                                <div class="centered_buttons">

                                                    <a href="#" class="button_dark_grey middle_btn quick_view" data-modal-url="modals/quick_view.html">Quick View</a>

                                                    <a href="#" class="button_blue middle_btn add_to_cart">Add to Cart</a>

                                                </div><!--/ .centered_buttons -->

                                                <a href="#" class="button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container"><span class="tooltip right">Add to Wishlist</span></a>

                                                <a href="#" class="button_dark_grey def_icon_btn middle_btn add_to_compare tooltip_container"><span class="tooltip left">Add to Compare</span></a>

                                            </div><!--/ .actions_wrap-->

                                            <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

                                        </div><!--/. image_wrap-->

                                        <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->

                                        <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

                                        <div class="label_offer percentage">

                                            <div>25%</div>OFF

                                        </div>

                                        <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->


                                        <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->

                                        <div class="description">

                                            <p><a href="#">Ut Tellus Dolor Dapibus Eg, Size 4 Diapers 29 ea</a></p>

                                            <div class="clearfix product_info">

                                                <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

                                                <ul class="rating alignright">

                                                    <li class="active"></li>
                                                    <li class="active"></li>
                                                    <li class="active"></li>
                                                    <li class="active"></li>
                                                    <li class="active"></li>

                                                </ul>

                                                <!-- - - - - - - - - - - - - - End product rating - - - - - - - - - - - - - - - - -->

                                                <p class="product_price alignleft"><s>$16.99</s> <b>$14.99</b></p>

                                            </div><!--/ .clearfix.product_info-->

                                        </div>

                                        <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->

                                    </div><!--/ .product_item-->

                                    <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                                    <div class="product_item">

                                        <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

                                        <div class="image_wrap">

                                            <img src="{{ asset("imagesFront/deals_img_3.jpg") }}" alt="">

                                            <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

                                            <div class="actions_wrap">

                                                <div class="centered_buttons">

                                                    <a href="#" class="button_dark_grey middle_btn quick_view" data-modal-url="modals/quick_view.html">Quick View</a>

                                                    <a href="#" class="button_blue middle_btn add_to_cart">Add to Cart</a>

                                                </div><!--/ .centered_buttons -->

                                                <a href="#" class="button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container"><span class="tooltip right">Add to Wishlist</span></a>

                                                <a href="#" class="button_dark_grey def_icon_btn middle_btn add_to_compare tooltip_container"><span class="tooltip left">Add to Compare</span></a>

                                            </div><!--/ .actions_wrap-->

                                            <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

                                        </div><!--/. image_wrap-->

                                        <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->

                                        <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

                                        <div class="label_offer percentage">

                                            <div>40%</div>OFF

                                        </div>

                                        <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->


                                        <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->

                                        <div class="description">

                                            <p><a href="#">Doctor's Best Best Curcumin C3 Complex with BioPerine, 1000mg, Tablets, 120 ea</a></p>

                                            <div class="clearfix product_info">

                                                <p class="product_price alignleft"><s>$103.99</s> <b>$73.99</b></p>

                                            </div><!--/ .clearfix.product_info-->

                                        </div>

                                        <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->

                                    </div><!--/ .product_item-->

                                    <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                                    <div class="product_item">

                                        <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

                                        <div class="image_wrap">

                                            <img src="{{ asset("imagesFront/deals_img_4.jpg") }}" alt="">

                                            <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

                                            <div class="actions_wrap">

                                                <div class="centered_buttons">

                                                    <a href="#" class="button_dark_grey middle_btn quick_view" data-modal-url="modals/quick_view.html">Quick View</a>

                                                    <a href="#" class="button_blue middle_btn add_to_cart">Add to Cart</a>

                                                </div><!--/ .centered_buttons -->

                                                <a href="#" class="button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container"><span class="tooltip right">Add to Wishlist</span></a>

                                                <a href="#" class="button_dark_grey def_icon_btn middle_btn add_to_compare tooltip_container"><span class="tooltip left">Add to Compare</span></a>

                                            </div><!--/ .actions_wrap-->

                                            <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

                                        </div><!--/. image_wrap-->

                                        <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->

                                        <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

                                        <div class="label_offer percentage">

                                            <div>15%</div>OFF

                                        </div>

                                        <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->


                                        <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->

                                        <div class="description">

                                            <p><a href="#">Nam Elit Agna Enrerit Sit Amet Dolor Ipsum Amet, Deep Cleansing 1 each</a></p>

                                            <div class="clearfix product_info">

                                                <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

                                                <ul class="rating alignright">

                                                    <li class="active"></li>
                                                    <li class="active"></li>
                                                    <li class="active"></li>
                                                    <li></li>
                                                    <li></li>

                                                </ul>

                                                <!-- - - - - - - - - - - - - - End product rating - - - - - - - - - - - - - - - - -->

                                                <p class="product_price alignleft"><s>$5.99</s> <b>$2.99</b></p>

                                            </div><!--/ .clearfix.product_info-->

                                        </div>

                                        <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->

                                    </div><!--/ .product_item-->

                                    <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                                    <div class="product_item">

                                        <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

                                        <div class="image_wrap">

                                            <img src="{{ asset("imagesFront/deals_img_5.jpg") }}" alt="">

                                            <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

                                            <div class="actions_wrap">

                                                <div class="centered_buttons">

                                                    <a href="#" class="button_dark_grey middle_btn quick_view" data-modal-url="modals/quick_view.html">Quick View</a>

                                                    <a href="#" class="button_blue middle_btn add_to_cart">Add to Cart</a>

                                                </div><!--/ .centered_buttons -->

                                                <a href="#" class="button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container"><span class="tooltip right">Add to Wishlist</span></a>

                                                <a href="#" class="button_dark_grey def_icon_btn middle_btn add_to_compare tooltip_container"><span class="tooltip left">Add to Compare</span></a>

                                            </div><!--/ .actions_wrap-->

                                            <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

                                        </div><!--/. image_wrap-->

                                        <!-- - - - - - - - - - - - - - End thumbnail - - - - - - - - - - - - - - - - -->

                                        <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

                                        <div class="label_offer percentage">

                                            <div>50%</div>OFF

                                        </div>

                                        <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->


                                        <!-- - - - - - - - - - - - - - Product description - - - - - - - - - - - - - - - - -->

                                        <div class="description">

                                            <p><a href="#">Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing ea</a></p>

                                            <div class="clearfix product_info">

                                                <p class="product_price alignleft"><s>$19.99</s> <b>$13.99</b></p>

                                            </div><!--/ .clearfix.product_info-->

                                        </div>

                                        <!-- - - - - - - - - - - - - - End of product description - - - - - - - - - - - - - - - - -->

                                    </div><!--/ .product_item-->

                                    <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

                                </div><!--/ .widgets_carousel-->

                                <!-- - - - - - - - - - - - - - End of carousel of today's deals - - - - - - - - - - - - - - - - -->

                                <!-- - - - - - - - - - - - - - View all deals of the day - - - - - - - - - - - - - - - - -->

                                <footer class="bottom_box">

                                    <a href="#" class="button_grey middle_btn">View All Deals</a>

                                </footer>

                                <!-- - - - - - - - - - - - - - End of view all deals of the day - - - - - - - - - - - - - - - - -->

                            </section><!--/ .section_offset.animated.transparent-->

                            <!-- - - - - - - - - - - - - - End of today's deals - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Testimonials - - - - - - - - - - - - - - - - -->

                            <section class="section_offset animated transparent" data-animation="fadeInDown">

                                <h3>Testimonials</h3>

                                <!-- - - - - - - - - - - - - - Carousel of testimonials - - - - - - - - - - - - - - - - -->

                                <div class="owl_carousel widgets_carousel">

                                    <!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->

                                    <blockquote>

                                        <div class="author_info"><b>Alan, Los Angeles</b></div>

                                        <p>Ut tellus dolor, dapibus eget, elementum vel, cursus elefiend, elit. Aenean wisi et urna. Aliquam erat volutpat. Duis ac turpis.</p>

                                    </blockquote>

                                    <!-- - - - - - - - - - - - - - End testimonial - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->

                                    <blockquote>

                                        <div class="author_info"><b>Tracy, New York</b></div>

                                        <p>Donec sit amet eros. Lorem ipsum dolor sit amet elit. Mauris amet fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget.</p>

                                    </blockquote>

                                    <!-- - - - - - - - - - - - - - End testimonial - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->

                                    <blockquote>

                                        <div class="author_info"><b>Nikki, Boston</b></div>

                                        <p>Ut tellus dolor, dapibus eget, elementum vel, cursus elefiend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.</p>

                                    </blockquote>

                                    <!-- - - - - - - - - - - - - - End testimonial - - - - - - - - - - - - - - - - -->

                                </div><!--/ .widgets_carousel-->

                                <!-- - - - - - - - - - - - - - End of carousel of testimonials - - - - - - - - - - - - - - - - -->

                                <!-- - - - - - - - - - - - - - View all testimonials - - - - - - - - - - - - - - - - -->

                                <footer class="bottom_box">

                                    <a href="#" class="button_grey middle_btn">View All Testimonials</a>

                                </footer>

                                <!-- - - - - - - - - - - - - - End of view all testimonials - - - - - - - - - - - - - - - - -->

                            </section><!--/ .section_offset.animated.transparent-->

                            <!-- - - - - - - - - - - - - - End of testimonials - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Infoblocks - - - - - - - - - - - - - - - - -->


                            <!-- - - - - - - - - - - - - - End of infoblocks - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Tags - - - - - - - - - - - - - - - - -->

                            <section class="section_offset animated transparent" data-animation="fadeInDown">

                                <h3>Tags</h3>

                                <div class="tags_container">

                                    <ul class="tags_cloud">

                                        <li><a href="#" class="button_grey">allergy</a></li>
                                        <li><a href="#" class="button_grey">baby</a></li>
                                        <li><a href="#" class="button_grey">beauty</a></li>
                                        <li><a href="#" class="button_grey">ear care</a></li>
                                        <li><a href="#" class="button_grey">for her</a></li>
                                        <li><a href="#" class="button_grey">for him</a></li>
                                        <li><a href="#" class="button_grey">first aid</a></li>
                                        <li><a href="#" class="button_grey">gift sets</a></li>
                                        <li><a href="#" class="button_grey">spa</a></li>
                                        <li><a href="#" class="button_grey">hair care</a></li>
                                        <li><a href="#" class="button_grey">herbs</a></li>
                                        <li><a href="#" class="button_grey">medicine</a></li>
                                        <li><a href="#" class="button_grey">natural</a></li>
                                        <li><a href="#" class="button_grey">oral care</a></li>
                                        <li><a href="#" class="button_grey">pain</a></li>
                                        <li><a href="#" class="button_grey">pedicure</a></li>
                                        <li><a href="#" class="button_grey">personal care</a></li>
                                        <li><a href="#" class="button_grey">probiotics</a></li>

                                    </ul><!--/ .tags_cloud-->

                                </div><!--/ .tags_container-->

                            </section>

                            <!-- - - - - - - - - - - - - - End of tags - - - - - - - - - - - - - - - - -->

                        </aside>

                        <main class="col-md-9 col-sm-8">

                            <div class="section_offset ">

                                <!-- - - - - - - - - - - - - - Infoblock - - - - - - - - - - - - - - - - -->

                                <section class="infoblock type_2 animated col-sm-3 " data-animation="fadeInDown">

                                    <i class="icon-thumbs-up-1" style="color:#c50000;"></i>

                                    <h4 class="caption" style="color:#c50000;"><b>The Highest Product </b></h4>


                                </section><!--/ .infoblock.type_2-->

                                <!-- - - - - - - - - - - - - - End infoblock - - - - - - - - - - - - - - - - -->

                                <!-- - - - - - - - - - - - - - Infoblock - - - - - - - - - - - - - - - - -->

                                <section class="infoblock type_2 animated col-sm-3" data-animation="fadeInDown">

                                    <i class="icon-paper-plane" style="color:#c50000;"></i>

                                    <h4 class="caption" style="color:#c50000;"><b>Fast &amp; Free Delivery</b></h4>

                                </section><!--/ .infoblock.type_2-->

                                <!-- - - - - - - - - - - - - - End infoblock - - - - - - - - - - - - - - - - -->

                                <!-- - - - - - - - - - - - - - Infoblock - - - - - - - - - - - - - - - - -->

                                <section class="infoblock type_2 animated col-sm-3" data-animation="fadeInDown">

                                    <i class="icon-lock" style="color:#c50000;"></i>

                                    <h4 class="caption" style="color:#c50000;"><b>Safe &amp; Secure Payment</b></h4>


                                </section><!--/ .infoblock.type_2-->

                                <!-- - - - - - - - - - - - - - End infoblock - - - - - - - - - - - - - - - - -->

                                <!-- - - - - - - - - - - - - - Infoblock - - - - - - - - - - - - - - - - -->

                                <section class="infoblock type_2 animated col-sm-3" data-animation="fadeInDown" data-animation-delay="450">

                                    <i class="icon-diamond" style="color:#c50000;"></i>

                                    <h4 class="caption" style="color:#c50000;"><b>Get 10% Off For Reorder</b></h4>


                                </section><!--/ .infoblock.type_2-->

                                <!-- - - - - - - - - - - - - - End infoblock - - - - - - - - - - - - - - - - -->

                                <!-- - - - - - - - - - - - - - Infoblock - - - - - - - - - - - - - - - - -->

                            <!--    <section class="infoblock type_2 animated col-sm-3" data-animation="fadeInDown" data-animation-delay="450">

                                    <i class="icon-money"></i>

                                    <h4 class="caption"><b>100% Money Back Guaranteed</b></h4>

                                    <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.</p>

                                    <a href="#" class="button_dark_grey middle_btn">Read More</a>

                                </section><!--/ .infoblock.type_2-->

                                <!-- - - - - - - - - - - - - - End infoblock - - - - - - - - - - - - - - - - -->

                            </div>


                            <!-- - - - - - - - - - - - - - Tabs - - - - - - - - - - - - - - - - -->

                            <div class="tabs products section_offset animated transparent" data-animation="fadeInDown" data-animation-delay="150">

                                <!-- - - - - - - - - - - - - - Navigation of tabs - - - - - - - - - - - - - - - - -->

                                <ul class="tabs_nav clearfix">

                                    <li><a href="#tab-1">Featured</a></li>
                                    <li><a href="#tab-2">New</a></li>
                                    <li><a href="#tab-3">Hot</a></li>
                                    <li><a href="#tab-4">Top Rated</a></li>
                                    <li><a href="#tab-5">Sale</a></li>

                                </ul>

                                <!-- - - - - - - - - - - - - - End navigation of tabs - - - - - - - - - - - - - - - - -->

                                <!-- - - - - - - - - - - - - - Tabs container - - - - - - - - - - - - - - - - -->

                                <div class="tab_containers_wrap">

                                    <!-- - - - - - - - - - - - - - Featured products - - - - - - - - - - - - - - - - -->

                                    <div id="tab-1" class="tab_container">

                                        <div class="table_layout">

                                            <div class="table_row">

                                                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                                                <div class="table_cell">

                                                    <div class="product_item">

                                                        <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

                                                        <div class="image_wrap">

                                                            <img src="{{ asset("imagesFront/tabs_img_1.jpg") }}" alt="">

                                                            <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

                                                            <div class="actions_wrap">

                                                                <div class="centered_buttons">

                                                                    <a href="#" class="button_dark_grey middle_btn quick_view" data-modal-url="modals/quick_view.html">Quick View</a>

                                                                    <a href="#" class="button_blue middle_btn add_to_cart">Add to Cart</a>

                                                                </div><!--/ .centered_buttons -->

                                                                <a href="#" class="button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container"><span class="tooltip right">Add to Wishlist</span></a>

                                                                <a href="#" class="button_dark_grey def_icon_btn middle_btn add_to_compare tooltip_container"><span class="tooltip left">Add to Compare</span></a>

                                                            </div><!--/ .actions_wrap-->

                                                            <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

                                                            <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

                                                            <div class="label_new">New</div>

                                                            <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

                                                        </div><!--/. image_wrap-->

                                                        <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

                                                        <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

                                                        <div class="description">

                                                            <a href="#">Aenean Auctor Wisi Et Urna Ipsum 750mg, Softgels 120 ea</a>

                                                            <div class="clearfix product_info">

                                                                <p class="product_price alignleft"><b>$44.99</b></p>

                                                            </div>

                                                        </div>

                                                        <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

                                                    </div><!--/ .product_item-->

                                                </div>

                                                <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->



                                            </div>

                                        </div>

                                        <!-- - - - - - - - - - - - - - View all products - - - - - - - - - - - - - - - - -->

                                        <footer class="bottom_box">

                                            <a href="#" class="button_grey middle_btn">View All Featured Products</a>

                                        </footer>

                                        <!-- - - - - - - - - - - - - - End of view all products - - - - - - - - - - - - - - - - -->

                                    </div>

                                    <!-- - - - - - - - - - - - - - End of featured products - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - New products - - - - - - - - - - - - - - - - -->

                                    <div id="tab-2" class="tab_container">

                                        <div class="table_layout">

                                            <div class="table_row">

                                                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                                                <div class="table_cell">

                                                    <div class="product_item">

                                                        <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

                                                        <div class="image_wrap">

                                                            <img src="{{ asset("imagesFront/product_img_1.jpg") }}" alt="">

                                                            <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

                                                            <div class="actions_wrap">

                                                                <div class="centered_buttons">

                                                                    <a href="#" class="button_dark_grey middle_btn quick_view" data-modal-url="modals/quick_view.html">Quick View</a>

                                                                    <a href="#" class="button_blue middle_btn add_to_cart">Add to Cart</a>

                                                                </div><!--/ .centered_buttons -->

                                                                <a href="#" class="button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container"><span class="tooltip right">Add to Wishlist</span></a>

                                                                <a href="#" class="button_dark_grey def_icon_btn middle_btn add_to_compare tooltip_container"><span class="tooltip left">Add to Compare</span></a>

                                                            </div><!--/ .actions_wrap-->

                                                            <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

                                                            <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

                                                            <div class="label_new">New</div>

                                                            <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

                                                        </div><!--/. image_wrap-->

                                                        <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

                                                        <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

                                                        <div class="description">

                                                            <a href="#">Aenean Auctor Wisi Et Urna Ipsum 750mg, Softgels 120 ea</a>

                                                            <div class="clearfix product_info">

                                                                <p class="product_price alignleft"><b>$44.99</b></p>

                                                            </div>

                                                        </div>

                                                        <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

                                                    </div><!--/ .product_item-->

                                                </div>

                                                <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->



                                            </div>

                                        </div>

                                        <!-- - - - - - - - - - - - - - View all products - - - - - - - - - - - - - - - - -->

                                        <footer class="bottom_box">

                                            <a href="#" class="button_grey middle_btn">View All New Products</a>

                                        </footer>

                                        <!-- - - - - - - - - - - - - - End of view all products - - - - - - - - - - - - - - - - -->

                                    </div>

                                    <!-- - - - - - - - - - - - - - End of new products - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Hot products - - - - - - - - - - - - - - - - -->

                                    <div id="tab-3" class="tab_container">

                                        <div class="table_layout">

                                            <div class="table_row">

                                                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                                                <div class="table_cell">

                                                    <div class="product_item">

                                                        <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

                                                        <div class="image_wrap">

                                                            <img src="{{ asset("imagesFront/product_img_6.jpg") }}" alt="">

                                                            <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

                                                            <div class="actions_wrap">

                                                                <div class="centered_buttons">

                                                                    <a href="#" class="button_dark_grey middle_btn quick_view" data-modal-url="modals/quick_view.html">Quick View</a>

                                                                    <a href="#" class="button_blue middle_btn add_to_cart">Add to Cart</a>

                                                                </div><!--/ .centered_buttons -->

                                                                <a href="#" class="button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container"><span class="tooltip right">Add to Wishlist</span></a>

                                                                <a href="#" class="button_dark_grey def_icon_btn middle_btn add_to_compare tooltip_container"><span class="tooltip left">Add to Compare</span></a>

                                                            </div><!--/ .actions_wrap-->

                                                            <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

                                                        </div><!--/. image_wrap-->

                                                        <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

                                                        <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

                                                        <div class="description">

                                                            <a href="#">Mauris Fermentum Dictum, 100mg, Softgels 120 ea</a>

                                                            <div class="clearfix product_info">

                                                                <p class="product_price alignleft"><b>$75.39</b></p>

                                                            </div>

                                                        </div>

                                                        <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

                                                    </div><!--/ .product_item-->

                                                </div>

                                                <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->


                                            </div>

                                        </div>

                                        <!-- - - - - - - - - - - - - - View all products - - - - - - - - - - - - - - - - -->

                                        <footer class="bottom_box">

                                            <a href="#" class="button_grey middle_btn">View All Hot Products</a>

                                        </footer>

                                        <!-- - - - - - - - - - - - - - End of view all products - - - - - - - - - - - - - - - - -->

                                    </div>

                                    <!-- - - - - - - - - - - - - - End of hot products - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Top rated products - - - - - - - - - - - - - - - - -->

                                    <div id="tab-4" class="tab_container">

                                        <div class="table_layout">

                                            <div class="table_row">

                                                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                                                <div class="table_cell">

                                                    <div class="product_item">

                                                        <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

                                                        <div class="image_wrap">

                                                            <img src="{{ asset("imagesFront/product_img_6.jpg") }}" alt="">

                                                            <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

                                                            <div class="actions_wrap">

                                                                <div class="centered_buttons">

                                                                    <a href="#" class="button_dark_grey middle_btn quick_view" data-modal-url="modals/quick_view.html">Quick View</a>

                                                                    <a href="#" class="button_blue middle_btn add_to_cart">Add to Cart</a>

                                                                </div><!--/ .centered_buttons -->

                                                                <a href="#" class="button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container"><span class="tooltip right">Add to Wishlist</span></a>

                                                                <a href="#" class="button_dark_grey def_icon_btn middle_btn add_to_compare tooltip_container"><span class="tooltip left">Add to Compare</span></a>

                                                            </div><!--/ .actions_wrap-->

                                                            <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

                                                        </div><!--/. image_wrap-->

                                                        <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

                                                        <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

                                                        <div class="description">

                                                            <a href="#">Mauris Fermentum Dictum, 100mg, Softgels 120 ea</a>

                                                            <div class="clearfix product_info">

                                                                <p class="product_price alignleft"><b>$75.39</b></p>

                                                            </div>

                                                        </div>

                                                        <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

                                                    </div><!--/ .product_item-->

                                                </div>

                                                <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->


                                            </div>

                                        </div>

                                        <!-- - - - - - - - - - - - - - View all products - - - - - - - - - - - - - - - - -->

                                        <footer class="bottom_box">

                                            <a href="#" class="button_grey middle_btn">View All Top Rated Products</a>

                                        </footer>

                                        <!-- - - - - - - - - - - - - - End of view all products - - - - - - - - - - - - - - - - -->

                                    </div>

                                    <!-- - - - - - - - - - - - - - End of top rated products - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Sale products - - - - - - - - - - - - - - - - -->

                                    <div id="tab-5" class="tab_container">

                                        <div class="table_layout">

                                            <div class="table_row">

                                                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                                                <div class="table_cell">

                                                    <div class="product_item">

                                                        <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

                                                        <div class="image_wrap">

                                                            <img src="{{ asset("imagesFront/product_img_6.jpg") }}" alt="">

                                                            <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

                                                            <div class="actions_wrap">

                                                                <div class="centered_buttons">

                                                                    <a href="#" class="button_dark_grey middle_btn quick_view" data-modal-url="modals/quick_view.html">Quick View</a>

                                                                    <a href="#" class="button_blue middle_btn add_to_cart">Add to Cart</a>

                                                                </div><!--/ .centered_buttons -->

                                                                <a href="#" class="button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container"><span class="tooltip right">Add to Wishlist</span></a>

                                                                <a href="#" class="button_dark_grey def_icon_btn middle_btn add_to_compare tooltip_container"><span class="tooltip left">Add to Compare</span></a>

                                                            </div><!--/ .actions_wrap-->

                                                            <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

                                                        </div><!--/. image_wrap-->

                                                        <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

                                                        <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

                                                        <div class="description">

                                                            <a href="#">Mauris Fermentum Dictum, 100mg, Softgels 120 ea</a>

                                                            <div class="clearfix product_info">

                                                                <p class="product_price alignleft"><b>$75.39</b></p>

                                                            </div>

                                                        </div>

                                                        <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

                                                    </div><!--/ .product_item-->

                                                </div>

                                                <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->



                                            </div>

                                        </div>

                                        <!-- - - - - - - - - - - - - - View all products - - - - - - - - - - - - - - - - -->

                                        <footer class="bottom_box">

                                            <a href="#" class="button_grey middle_btn">View All Sale Products</a>

                                        </footer>

                                        <!-- - - - - - - - - - - - - - End of view all products - - - - - - - - - - - - - - - - -->

                                    </div>

                                    <!-- - - - - - - - - - - - - - End of sale products - - - - - - - - - - - - - - - - -->

                                </div>

                                <!-- - - - - - - - - - - - - - End of tabs container - - - - - - - - - - - - - - - - -->

                            </div>

                            <!-- - - - - - - - - - - - - - End of tabs - - - - - - - - - - - - - - - - -->



                            <!-- - - - - - - - - - - - - - Bestsellers - - - - - - - - - - - - - - - - -->

                            <section class="section_offset animated transparent" data-animation="fadeInDown">

                                <h3>Top Ventes</h3>

                                <div class="table_layout">

                                    <div class="table_row">
                                        {% for produit in pagination1 %}
                                            <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                                            <div class="table_cell">

                                                <div class="product_item">

                                                    <!-- - - - - -


                                                     - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

                                                    <div class="image_wrap">
                                                        {% if produit.logo==null %}
                                                            <img src="{{ asset("image/logo.jpg") }}"  style="height: 200px;">
                                                        {% else %}
                                                            <img src="{{ asset("image/produit/")~produit.logo }}" style="height: 200px;">
                                                        {% endif %}


                                                        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

                                                        <div class="actions_wrap">

                                                            <div class="centered_buttons">

                                                                <a href="#" class="button_dark_grey middle_btn quick_view" data-modal-url="{{ path('simulation_crm_apercu',{'id':produit.id}) }}">Aperçu rapide</a>

                                                                <a href="#" class="button_blue middle_btn add_to_cart">Ajouter au panier</a>

                                                            </div><!--/ .centered_buttons -->

                                                            <a href="#" class="button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container"><span class="tooltip right">Ajouter au liste de souhée</span></a>


                                                        </div><!--/ .actions_wrap-->

                                                        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

                                                        <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

                                                        <div class="label_bestseller">Top Vente</div>

                                                        <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

                                                    </div><!--/. image_wrap-->

                                                    <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

                                                    <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

                                                    <div class="description">

                                                        <a href="#">{{ produit.descriptif  }}</a><br>

                                                        <div class="clearfix product_info">

                                                            <p class="product_price alignleft"><b>{{ produit.ht }}€</b></p>

                                                            <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

                                                            <ul class="rating alignright">

                                                                <li class="active"></li>
                                                                <li class="active"></li>
                                                                <li class="active"></li>
                                                                <li class="active"></li>
                                                                <li></li>

                                                            </ul>

                                                            <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

                                                        </div>

                                                    </div>

                                                    <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

                                                </div><!--/ .product_item-->

                                            </div>

                                            <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->
                                        {% endfor %}
                                    </div>



                                </div>

                                <!-- - - - - - - - - - - - - - View all products - - - - - - - - - - - - - - - - -->

                                <footer class="bottom_box">

                                    <a href="#" class="button_grey middle_btn">Voir Tout</a>

                                </footer>

                                <!-- - - - - - - - - - - - - - End of view all products - - - - - - - - - - - - - - - - -->

                            </section>

                            <!-- - - - - - - - - - - - - - End of bestsellers - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Latest News - - - - - - - - - - - - - - - - -->

                            <section class="section_offset animated transparent" data-animation="fadeInDown">

                                <h3>Latest News</h3>

                                <div class="table_layout">

                                    <div class="table_row">

                                        <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

                                        <div class="table_cell">

                                            <article class="entry">

                                                <a href="#" class="thumbnail entry_image">

                                                    <img src="{{ asset("imagesFront/news_img_1.jpg") }}" alt="">

                                                </a>

                                                <h5 class="entry_title"><a href="#"><b>Vestibulum sed ante</b></a></h5>

                                                <div class="entry_meta">

                                                    <span><i class="icon-calendar"></i> 2014-08-05 07:01:49</span>

                                                    <span><a href="#" class="comments"><i class="icon-comment"></i> 3</a></span>

                                                </div><!--/ .byline-->

                                                <p>Ut tellus dolor, dapibus eget,elem vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat...</p>

                                            </article><!--/ .entry-->

                                        </div>

                                        <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                                        <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

                                        <div class="table_cell">

                                            <article class="entry">

                                                <a href="#" class="thumbnail entry_image">

                                                    <img src="{{ asset("imagesFront/news_img_2.jpg") }}" alt="">

                                                </a>

                                                <h5 class="entry_title"><a href="#"><b>Donec porta diam eu massa</b></a></h5>

                                                <div class="entry_meta">

                                                    <span><i class="icon-calendar"></i> 2014-08-05 07:01:49</span>

                                                    <span><a href="#" class="comments"><i class="icon-comment"></i> 5</a></span>

                                                </div><!--/ .byline-->

                                                <p>Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit...</p>

                                            </article><!--/ .entry-->

                                        </div>

                                        <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                                        <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

                                        <div class="table_cell">

                                            <article class="entry">

                                                <a href="#" class="thumbnail entry_image">

                                                    <img src="{{ asset("imagesFront/news_img_3.jpg") }}" alt="">

                                                </a>

                                                <h5 class="entry_title"><a href="#"><b>Sed ut perspiciatis unde omnis</b></a></h5>

                                                <div class="entry_meta">

                                                    <span><i class="icon-calendar"></i> 2014-08-05 07:01:49</span>

                                                    <span><a href="#" class="comments"><i class="icon-comment"></i> 0</a></span>

                                                </div><!--/ .byline-->

                                                <p>Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, eleifend, elit. Aenean auctor wisi...</p>

                                            </article><!--/ .entry-->

                                        </div>

                                        <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

                                    </div>

                                </div>

                                <!-- - - - - - - - - - - - - - View all entries - - - - - - - - - - - - - - - - -->

                                <footer class="bottom_box">

                                    <a href="#" class="button_grey middle_btn">More News</a>

                                </footer>

                                <!-- - - - - - - - - - - - - - End of view all entries - - - - - - - - - - - - - - - - -->

                            </section><!--/ .section_offset.aniamted.transparent-->

                            <!-- - - - - - - - - - - - - - End of latest news - - - - - - - - - - - - - - - - -->

                        </main>

                    </div><!--/ .row-->

                </div><!--/ .container-->

            </div><!--/ .page_wrapper-->

            <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->
        </div>
    </div>

{% endblock %}
{% block javascript %}
    <!-- Include Libs & Plugins
============================================ -->
    <script src="{{ asset("jsFront/jquery-2.1.1.min.js") }}"></script>
    <script src={{ asset("jsFront/queryloader2.min.js") }}""></script>
    <script src="{{ asset("jsFront/layerslider/js/greensock.js") }}"></script>
    <script src="{{ asset("jsFront/layerslider/js/layerslider.transitions.js") }}"></script>
    <script src="{{ asset("jsFront/layerslider/js/layerslider.kreaturamedia.jquery.js") }}"></script>
    <script src="{{ asset("jsFront/jquery.appear.js") }}"></script>
    <script src="{{ asset("jsFront/owlcarousel/owl.carousel.min.js") }}"></script>
    <script src="{{ asset("jsFront/jquery.countdown.plugin.min.js") }}"></script>
    <script src="{{ asset("jsFront/jquery.countdown.plugin.min.js") }}"></script>
    <script src="{{ asset("jsFront/arcticmodal/jquery.arcticmodal.js") }}"></script>
    <script src="{{ asset("twitter/jquery.tweet.min.js") }}"></script>
    <script src="{{ asset("jsFront/colorpicker/colorpicker.js") }}"></script>
    <script src="{{ asset("jsFront/retina.min.js") }}"></script>
    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js"></script>

    <!-- Theme files
    ============================================ -->
    <script src="{{ asset("jsFront/theme.plugins.js") }}"></script>
    <script src="{{ asset("jsFront/theme.core.js") }}"></script>
    <!-- select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
    <script>
        $(function () {
            $("#{{ form.vars.name }}_Marque").select2();
            $("#{{ form.vars.name }}_Modele").select2();
            $("#{{ form.vars.name }}_Modele").empty();
            $("#{{ form.vars.name }}_Cylindree").select2();
            $("#{{ form.vars.name }}_Cylindree").empty();
            $("#{{ form.vars.name }}_Puissance").select2();
            $("#{{ form.vars.name }}_Puissance").empty();
            $("#{{ form.vars.name }}_TypeMoteur").select2();
            $("#{{ form.vars.name }}_TypeMoteur").empty();
            $("#{{ form.vars.name }}_Marque").on('change',function () {
                $("#{{ form.vars.name }}_Modele").prop('disabled',false);
                var url="{{ path('simulation_crm_get_modele',{'id':'aa'}) }}";
                var uri= url.replace("aa", $("#{{ form.vars.name }}_Marque").val());
                $.ajax({
                    ajax: true,
                    url: uri,
                    success: function (data) {
                        $("#{{ form.vars.name }}_Modele").empty();
                        $("#{{ form.vars.name }}_Modele").append("<option value='0' key='0'>---</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#{{ form.vars.name }}_Modele").append("<option value='" + data[i]["key"] + "' key='" + data[i]["key"] + "'>" + data[i]["value"] + "</option>");
                            $("#{{ form.vars.name }}_Modele").select2();
                        }
                        ;
                    }
                });
            })
            $("#{{ form.vars.name }}_Modele").on('change',function () {
                $("#{{ form.vars.name }}_Cylindree").prop('disabled',false);
                var url="{{ path('simulation_crm_get_cylindree',{'id':'aa'}) }}";
                var uri= url.replace("aa", $("#{{ form.vars.name }}_Modele").val());
                $.ajax({
                    ajax: true,
                    url: uri,
                    success: function (data) {
                        $("#{{ form.vars.name }}_Cylindree").empty();
                        $("#{{ form.vars.name }}_Cylindree").append("<option value='0' key='0'>---</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#{{ form.vars.name }}_Cylindree").append("<option value='" + data[i]["key"] + "' key='" + data[i]["key"] + "'>" + data[i]["value"] + "</option>");
                            $("#{{ form.vars.name }}_Cylindree").select2();
                        }
                        ;
                    }
                });
            })
            $("#{{ form.vars.name }}_Cylindree").on('change',function () {
                $("#{{ form.vars.name }}_Puissance").prop('disabled',false);
                var url="{{ path('simulation_crm_get_puissance',{'id':'aa'}) }}";
                var uri= url.replace("aa", $("#{{ form.vars.name }}_Cylindree").val());
                $.ajax({
                    ajax: true,
                    url: uri,
                    success: function (data) {
                        $("#{{ form.vars.name }}_Puissance").empty();
                        $("#{{ form.vars.name }}_Puissance").append("<option value='0' key='0'>---</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#{{ form.vars.name }}_Puissance").append("<option value='" + data[i]["key"] + "' key='" + data[i]["key"] + "'>" + data[i]["value"] + "</option>");
                            $("#{{ form.vars.name }}_Puissance").select2();
                        }
                        ;
                    }
                });
            })
            $("#{{ form.vars.name }}_Puissance").on('change',function () {
                $("#{{ form.vars.name }}_TypeMoteur").prop('disabled',false);
                var url="{{ path('simulation_crm_get_type',{'id':'aa'}) }}";
                var uri= url.replace("aa", $("#{{ form.vars.name }}_Puissance").val());
                $.ajax({
                    ajax: true,
                    url: uri,
                    success: function (data) {
                        $("#{{ form.vars.name }}_TypeMoteur").empty();
                        $("#{{ form.vars.name }}_TypeMoteur").append("<option value='0' key='0'>---</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#{{ form.vars.name }}_TypeMoteur").append("<option value='" + data[i]["key"] + "' key='" + data[i]["key"] + "'>" + data[i]["value"] + "</option>");
                            $("#{{ form.vars.name }}_TypeMoteur").select2();
                        }
                        ;
                    }
                });
            })
            $('#rech').on('click',function () {
                    var url="{{ path('simulation_crm_search',{'marque':'mar','model':'modele','cylindree':'cylindre','puissance':'puiss','typeMoteur':'type'}) }}";
                    var url= url.replace("mar", $("#{{ form.vars.name }}_Marque").val());
                    var url= url.replace("modele", $("#{{ form.vars.name }}_Modele").val());
                    var url= url.replace("puiss", $("#{{ form.vars.name }}_Puissance").val());
                    var url= url.replace("cylindre", $("#{{ form.vars.name }}_Cylindree").val());
                    var url= url.replace("type", $("#{{ form.vars.name }}_TypeMoteur").val());
                    window.location.href=url;
                    $.ajax({
                        ajax: true,
                        url: url,
                        success: function (data) {
                            $("#{{ form.vars.name }}_TypeMoteru").empty();
                            $("#{{ form.vars.name }}_TypeMoteru").append("<option value='0' key='0'>---</option>");
                            for (var i = 0; i < data.length; i++) {
                                $("#{{ form.vars.name }}_TypeMoteru").append("<option value='" + data[i]["key"] + "' key='" + data[i]["key"] + "'>" + data[i]["value"] + "</option>");
                                $("#{{ form.vars.name }}_TypeMoteru").select2();
                            }
                            ;
                        }
                    });            })


        });
    </script>

{% endblock %}
