{% block stylesheets %}
    <link href="{{ asset("css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ asset("css/metisMenu.min.css") }}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{{ asset("css/timeline.css") }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset("css/startmin.css") }}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{ asset("css/morris.css") }}" rel="stylesheet">

    <!-- dataTable css -->
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset("css/font-awesome.min.css") }}" rel="stylesheet" type="text/css">

    <!--select1 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />

{% endblock %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Startmin</a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Top Navigation: Left Menu -->
                <ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a href="#"><i class="fa fa-home fa-fw"></i> Website</a></li>
                </ul>

                <!-- Top Navigation: Right Menu -->
                <ul class="nav navbar-right navbar-top-links">
                    <li class="dropdown navbar-inverse">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-comment fa-fw"></i> New Comment
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> Admin <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="{{ path("fos_user_security_logout") }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <!-- Sidebar -->
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">

                        <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href="{{ path("kalitys_crm_client") }}"><i class="fa fa-user fa-fw"></i>Clients </a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-sitemap fa-fw"></i>Options<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{{ path("kalitys_crm_marque") }}"><i class="fa fa-clone  fa-fw"></i>Marques</a>
                                    </li>
                                    <li>
                                        <a href="{{ path("kalitys_crm_modele") }}"><i class="fa fa-eye fa-fw"></i>Modèles </a>
                                    </li>
                                    <li>
                                        <a href="{{ path("kalitys_crm_cylindree") }}"><i class="fa fa-circle-o-notch fa-fw"></i>Cylindrées</a>
                                    </li>
                                    <li>
                                        <a href="{{ path("kalitys_crm_puissance") }}"><i class="fa fa-cog fa-fw"></i>Puissances </a>
                                    </li>
                                    <li>
                                        <a href="{{ path("kalitys_crm_type_moteur") }}"><i class="fa fa-wrench  fa-fw"></i>Types Moteur </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{ path("kalitys_crm_produit") }}"><i class="fa fa-product-hunt  fa-fw"></i>Produits </a>
                            </li>
                            <li>
                                <a href="{{ path("kalitys_crm_accessoire") }}"><i class="fa fa-briefcase  fa-fw"></i>Accéssoires </a>
                            </li>
                            <li>
                                <a href="{{ path("kalitys_crm_logo") }}"><i class="fa fa-tasks  fa-fw"></i>Images </a>
                            </li>
                            <li>
                                <a href="{{ path("kalitys_crm_commande") }}"><i class="fa fa-shopping-basket  fa-fw"></i>Commandes </a>
                            </li>
                            <li>
                                <a href="{{ path("kalitys_crm_stock") }}"><i class="fa fa-stack-exchange  fa-fw"></i>Stocks </a>
                            </li>
                            <li>
                                <a href="{{ path("kalitys_crm_depot") }}"><i class="fa fa-home  fa-fw"></i>Dépots </a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-sitemap fa-fw"></i>Référencement<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="{{ path("kalitys_crm_list_referencement") }}"><i class="fa fa-clone  fa-fw"></i>Liste des métas page</a>
                                    </li>
                                    <li>
                                        <a href="{{ path("kalitys_crm_list_autre_metas") }}"><i class="fa fa-eye fa-fw"></i>Autres métas </a>
                                    </li>
                                    <li>
                                        <a href=""><i class="fa fa-circle-o-notch fa-fw"></i>Liste des balises titre</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
            {% block container %}

            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <!-- jQuery -->
    <script src="{{ asset("js/jquery.min.js") }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset("js/bootstrap.min.js") }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ asset("js/metisMenu.min.js") }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset("js/startmin.js") }}"></script>

    <!-- select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
{% endblock %}


