{% block stylesheets %}
    <link href="{{ asset("css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ asset("css/metisMenu.min.css") }}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{{ asset("css/timeline.css") }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset("css/startmin.css") }}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{ asset("css/morris.css") }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset("css/font-awesome.min.css") }}" rel="stylesheet" type="text/css">

    <!-- date picker css -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">

{% endblock %}
{% block body %}
    <div id="wrapper">
        <div id="container">
           <h3>hello</h3>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <!-- jQuery -->
    <script src="{{ asset("js/jquery.min.js") }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset("js/bootstrap.min.js") }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ asset("js/metisMenu.min.js") }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset("js/startmin.js") }}"></script>


{% endblock %}


