{% extends "default/index.html.twig" %}
{% block container %}
    <div id="wrapper">
        <div id="container">
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">Gestion des Images</h1>
                        </div>
                    </div>
                    <!-- ... Your content goes here ... -->
                    <div class="row">
                        <div class="col-sm-12" style="padding-left:0px;">
                            <a href="{{ path('simulation_crm_ajout_logo') }}">
                                <button class="btn btn-danger btn-quirk btn-stroke">
                                    {{ 'Ajouter Image'|trans }}
                                </button>
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="table-responsive">
                            <table id="dataTable1" class="table table-bordered table-striped-col table-hover" style="margin-top: 20px;">
                                <thead>
                                <tr>
                                    <th>Logo</th>
                                    <th>Nom</th>
                                    <th>Produit</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for logo in pagination %}
                                    <tr>
                                        <td>
                                            {% if logo.src==null %}
                                                <img src="{{ asset("image/logo.jpg") }}" width="50px;">
                                            {% else %}
                                                <img src="{{ asset("image/logo/")~logo.src }}" width="50px;">
                                            {% endif %}
                                        </td>
                                        <td>{{ logo.designation }}</td>
                                        <td>{{ logo.ProduitId?logo.ProduitId.designation }}</td>
                                        <td>
                                            <ul class="table-options">
                                                <a href="{{ path('simulation_crm_update_logo',{'id':logo.id}) }}">
                                                    <button class="btn btn-warning btn-xs">Modifier</button>
                                                </a>
                                                <a href="{{ path('simulation_crm_delete_logo',{'id':logo.id}) }}"  onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette image?')">
                                                    <button class="btn btn-danger btn-xs">Supprimer</button>
                                                </a>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <!-- jQuery -->
    <script src="{{ asset("js/jquery.min.js") }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset("js/bootstrap.min.js") }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ asset("js/metisMenu.min.js") }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset("js/startmin.js") }}"></script>

    <!-- dataTable -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {
            $('#dataTable1').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                }
            });
        } );
    </script>

{% endblock %}


