{% extends "default/front.html.twig" %}
{% block container %}
    <div id="wrapper">
        <div id="container">
            <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

            <div class="page_wrapper">

                <div class="container">

                    <div class="section_offset">

                        <div class="row">

                            <div class="row">
                                <div class="table-responsive">
                                    <table id="dataTable1" class="table table-bordered table-striped-col table-hover" style="margin-top: 20px;">
                                        <thead>
                                        <tr>
                                            <th>Produit</th>
                                            <th>Designation</th>
                                            <th>quantite</th>
                                            <th>Prix</th>
                                            <th>Totale</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for ligne in pagination %}
                                            <tr>
                                                <td>
                                                    {% if ligne.produit.logo==null %}
                                                        <img src="{{ asset("image/logo.jpg") }}" width="50px;">
                                                    {% else %}
                                                        <img src="{{ asset("image/produit/")~ligne.produit.logo }}" width="50px;">
                                                    {% endif %}
                                                </td>
                                                <td>{{ ligne.produit?ligne.produit.designation }}</td>
                                                <td>{{ ligne.quantite }}</td>
                                                <td>{{ ligne.produit.ttc }} (€)</td>
                                                <td>{{ ligne.tot }} (€)</td>
                                                <td>
                                                    <ul class="table-options">
                                                        <a href="{{ path('simulation_crm_delete_panier',{'id':ligne.produit.id}) }}"  onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce Produit?')">
                                                            <button class="btn btn-danger btn-xs">×</button>
                                                        </a>
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                                <br><br>
                                <footer class="bottom_box">
                                   <label class="pull-right">Total :  {{ total }} (€) </label><br> <a href="{{ path('simulation_crm_log_panier') }}" class="button_grey middle_btn pull-right" >Payer </a>
                                    <br><br>

                                </footer>
                            </div>

                        </div>
                    </div>

                </div><!--/ .container-->

            </div><!--/ .page_wrapper-->

            <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->
        </div>
    </div>

{% endblock %}
{% block javascript %}
    <!-- Include Libs & Plugins
============================================ -->
    <script src="{{ asset("jsFront/jquery-2.1.1.min.js") }}"></script>
    <script src={{ asset("jsFront/queryloader2.min.js") }}""></script>
    <script src="{{ asset("jsFront/layerslider/js/greensock.js") }}"></script>
    <script src="{{ asset("jsFront/layerslider/js/layerslider.transitions.js") }}"></script>
    <script src="{{ asset("jsFront/layerslider/js/layerslider.kreaturamedia.jquery.js") }}"></script>
    <script src="{{ asset("jsFront/jquery.appear.js") }}"></script>
    <script src="{{ asset("jsFront/owlcarousel/owl.carousel.min.js") }}"></script>
    <script src="{{ asset("jsFront/jquery.countdown.plugin.min.js") }}"></script>
    <script src="{{ asset("jsFront/jquery.countdown.plugin.min.js") }}"></script>
    <script src="{{ asset("jsFront/arcticmodal/jquery.arcticmodal.js") }}"></script>
    <script src="{{ asset("twitter/jquery.tweet.min.js") }}"></script>
    <script src="{{ asset("jsFront/colorpicker/colorpicker.js") }}"></script>
    <script src="{{ asset("jsFront/retina.min.js") }}"></script>
    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js"></script>

    <!-- Theme files
    ============================================ -->
    <script src="{{ asset("jsFront/theme.plugins.js") }}"></script>
    <script src="{{ asset("jsFront/theme.core.js") }}"></script>
    <!-- select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>

{% endblock %}
