{% extends "default/front.html.twig" %}
{% block container %}
<div class="modal-body" id="mymodal">

<div id="quick_view" class="modal_window">

    <button class="close arcticmodal-close"></button>

    <div class="clearfix">



        <!-- - - - - - - - - - - - - - Product description column - - - - - - - - - - - - - - - - -->

        <div class="single_product_description">

            <h3><a href="#">{{ produit.designation }}</a></h3>


            <div class="description_section">

                <table class="product_info">

                    <tbody>

                    <tr>

                        <td>Prix: </td>
                        <td>{{ produit.ttc }}</td>

                    </tr>
                    <tr>

                        <td>Quantités: </td>
                        <td><a href="#"></a>{{ quantite }}</td>

                    </tr>

                    <tr>

                        <td>Total: </td>
                        <td>{{ total }} </td>

                    </tr>



                    </tbody>

                </table>

            </div>

            <!-- - - - - - - - - - - - - - Product size - - - - - - - - - - - - - - - - -->

           <!-- <div class="description_section_2 v_centered">

                <span class="title">Size:</span>

                <div class="custom_select min">

                    <select>

                        <option value="Small">Small</option>
                        <option value="Middle">Middle</option>
                        <option value="Big">Big</option>

                    </select>

                </div>

            </div>-->

            <!-- - - - - - - - - - - - - - End of product size - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - Quantity - - - - - - - - - - - - - - - - -->

                <div class="buttons_row">

                 <a href="{{ path('simulation_crm_ajout_panier')}}"><button class="button_blue middle_btn">Accéder au Panier</button></a>



                </div>


            <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

        </div>

        <!-- - - - - - - - - - - - - - End of product description column - - - - - - - - - - - - - - - - -->

    </div>

</div>
</div>
{% endblock %}
{% block javascript %}
<!-- Include Libs & Plugins
============================================ -->
<script src="{{ asset("jsFront/jquery-2.1.1.min.js") }}"></script>
<script src={{ asset("jsFront/queryloader2.min.js") }}""></script>
<script src="{{ asset("jsFront/layerslider/js/greensock.js") }}"></script>
<script src="{{ asset("jsFront/layerslider/js/layerslider.transitions.js") }}"></script>
<script src="{{ asset("jsFront/layerslider/js/layerslider.kreaturamedia.jquery.js") }}"></script>
<script src="{{ asset("jsFront/jquery.appear.js") }}"></script>
<script src="{{ asset("jsFront/owlcarousel/owl.carousel.min.js") }}"></script>
<script src="{{ asset("jsFront/jquery.countdown.plugin.min.js") }}"></script>
<script src="{{ asset("jsFront/jquery.countdown.plugin.min.js") }}"></script>
<script src="{{ asset("jsFront/arcticmodal/jquery.arcticmodal.js") }}"></script>
<script src="{{ asset("twitter/jquery.tweet.min.js") }}"></script>
<script src="{{ asset("jsFront/colorpicker/colorpicker.js") }}"></script>
<script src="{{ asset("jsFront/retina.min.js") }}"></script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js"></script>

<!-- Theme files
============================================ -->
<script src="{{ asset("jsFront/theme.plugins.js") }}"></script>
<script src="{{ asset("jsFront/theme.core.js") }}"></script>
<!-- select2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
<script>
    $('#mymodal').on('hidden.bs.modal', function() {
        this.modal('show');
    });
</script>

{% endblock %}

