<!--==================================
		Quick view modal window
======================================-->

<div id="quick_view" class="modal_window" id="pan">

    <button class="close arcticmodal-close"></button>

    <div class="clearfix" id="clearfix">

        <!-- - - - - - - - - - - - - - Product image column - - - - - - - - - - - - - - - - -->

        <div class="single_product">

            <!-- - - - - - - - - - - - - - Image preview container - - - - - - - - - - - - - - - - -->

            <div class="image_preview_container" id="qv_preview" style="width: 266px;">
                {% if produit.logo==null %}
                    <img src="{{ asset("image/logo.jpg") }}"  style="height: 200px;">
                {% else %}
                    <img id="img_zoom" data-zoom-image="images/qv_large_1.JPG" src="{{ asset("image/produit/")~produit.logo }}" alt="" style="height: 200px;width: 350px;">
                {% endif %}



            </div><!--/ .image_preview_container-->

            <!-- - - - - - - - - - - - - - End of image preview container - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - Prodcut thumbs carousel - - - - - - - - - - - - - - - - -->

            <div class="product_preview" data-output="#qv_preview">

                <div class="owl_carousel" id="thumbnails">
                    {% for image in logos %}
                      <img src="{{ asset("image/logo/")~image.src }}" data-large-image="{{ asset("image/logo/")~image.src }}" alt="" style="width: 70px;height: 50px">
                    {% endfor %}

                </div><!--/ .owl-carousel-->

            </div><!--/ .product_preview-->

            <!-- - - - - - - - - - - - - - End of prodcut thumbs carousel - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - Share - - - - - - - - - - - - - - - - -->

            <div class="v_centered" id="partage">

                <span class="title">Partager :</span>

                <div class="addthis_widget_container">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                        <a class="addthis_button_preferred_1"></a>
                        <a class="addthis_button_preferred_2"></a>
                        <a class="addthis_button_preferred_3"></a>
                        <a class="addthis_button_preferred_4"></a>
                        <a class="addthis_button_compact"></a>
                        <a class="addthis_counter addthis_bubble_style"></a>
                    </div>
                    <!-- AddThis Button END -->
                </div>

            </div>

            <!-- - - - - - - - - - - - - - End of share - - - - - - - - - - - - - - - - -->

        </div>

        <!-- - - - - - - - - - - - - - End of product image column - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Product description column - - - - - - - - - - - - - - - - -->

        <div class="single_product_description">
            <h3><a href="#">{{ produit.designation }}</a></h3>

            <div class="description_section v_centered">

                <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

                <ul class="rating">

                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                    <li></li>
                    <li></li>

                </ul>

                <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Reviews menu - - - - - - - - - - - - - - - - -->

                <ul class="topbar">

                    <li><a href="#">3 Revues(s)</a></li>
                    <li><a href="#">Ajouter votre Revue</a></li>

                </ul>

                <!-- - - - - - - - - - - - - - End of reviews menu - - - - - - - - - - - - - - - - -->

            </div>

            <div class="description_section col-sm-8">
                <table class="product_info">
                    <tbody>
                    <tr>
                        <td>Fabricant  : </td>
                        <td><a href="#"></a></td>
                    </tr>
                    <tr>
                        <td>Disponibilité  : </td>
                        <td> {{ quantite }} <span class="in_stock">articles en stock</span></td>
                    </tr>
                    <tr>
                        <td>Product Code  : </td>
                        <td>{{ produit.ref }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="description_section col-sm-4" style="border: 2px solid #c50000;">
                <p class="product_price" style="padding-top: 10%;"><a style="color: #b2b2b2;font-size: 15px;">Prix :  </a><b class="theme_color" style="font-size: 35px;">{{ produit.ttc }}€</b></p>
                <p class="product_price" ><s style="font-size: 20px;padding-left: 27%;">{{ produit.ht }}€</s> </p>
            </div>
            <hr>
            <div class="description_section">

                <p>{{ produit.descriptif|slice(0, 290) ~ '...' }}
                <a style="padding-left: 10%;" href="{{ path('simulation_crm_fiche',{'id':produit.id}) }}"><button class="button_dark_grey middle_btn quick_view">Lire Encore</button></a>
                </p>
            </div>

            <hr>


            <!-- - - - - - - - - - - - - - Product size - - - - - - - - - - - - - - - - -->

           <!-- <div class="description_section_2 v_centered">

                <span class="title">Size:</span>

                <div class="custom_select min">

                    <select>

                        <option value="Small">Small</option>
                        <option value="Middle">Middle</option>
                        <option value="Big">Big</option>

                    </select>

                </div>

            </div>-->

            <!-- - - - - - - - - - - - - - End of product size - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - Quantity - - - - - - - - - - - - - - - - -->
                <div class="form-group">
                    <label>Quantité</label>
                    <input type="number" name="quantite" id="quantite" value="1"/>
                 </div><br><br>
                <button type="submit"  id="click" class="button_blue middle_btn add_to_cart pull-right">Ajouter Au Panier</button>
            <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

        </div>

        <!-- - - - - - - - - - - - - - End of product description column - - - - - - - - - - - - - - - - -->

    </div>
    <div class="clearfix" id="clearfix1">



        <!-- - - - - - - - - - - - - - Product description column - - - - - - - - - - - - - - - - -->

        <div class="single_product_description" >

            <img src="{{ asset("image/ok.jpg") }}"  style="height: 30px;width: 30px;"><span style="color:#0d0c0a;font-size: 17px;padding-left: 5%;padding-top: 10%;">Ce produit a été ajouté au votre panier</span><br>

            <div class="description_section" style="padding-top: 10%;">
                <h3><a href="#">{{ produit.designation }}</a></h3>

                <table class="product_info">

                    <tbody>

                    <tr>

                        <td>Prix: </td>
                        <td id="prix"></td>

                    </tr>
                    <tr>

                        <td>Quantités: </td>
                        <td id="quan"></td>

                    </tr>

                    <tr>

                        <td>Total: </td>
                        <td id="total"></td>

                    </tr>



                    </tbody>

                </table>

            </div>

            <!-- - - - - - - - - - - - - - Product size - - - - - - - - - - - - - - - - -->

            <!-- <div class="description_section_2 v_centered">

                 <span class="title">Size:</span>

                 <div class="custom_select min">

                     <select>

                         <option value="Small">Small</option>
                         <option value="Middle">Middle</option>
                         <option value="Big">Big</option>

                     </select>

                 </div>

             </div>-->

            <!-- - - - - - - - - - - - - - End of product size - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - Quantity - - - - - - - - - - - - - - - - -->

            <div class="buttons_row">
                <a href="{{ path('kalitys_crm_frontpage')}}"><button class="button_dark_grey middle_btn quick_view">Continuer vos achats</button></a>
                <a href="{{ path('simulation_crm_ajout_panier')}}"><button class="button_blue middle_btn">Accéder au Panier</button></a>


            </div>




            <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

        </div>

        <!-- - - - - - - - - - - - - - End of product description column - - - - - - - - - - - - - - - - -->

    </div>

    </div>
<script>
    document.getElementById("clearfix1").style.visibility='hidden';
    $("#click").on('click',function(){
           var quantite=$('#quantite').val();
           var url = "{{ path('simulation_crm_ajout_panier_popUp',{'id':produit.id,'quantite':'aa'}) }}";
           var path=url.replace('aa',quantite);
            $.ajax({
                ajax: true,
                url: path,
                success: function (data) {
                    document.getElementById('prix').innerHTML = {{ produit.ttc }}+" €";
                    document.getElementById('quan').innerHTML = data[0]['quantite'];
                    document.getElementById('total').innerHTML = data[0]['total']+" €";
                    document.getElementById("clearfix").style.visibility='hidden';
                    document.getElementById("clearfix1").style.visibility='visible';
                    document.getElementById('clearfix').setAttribute("style","width:0px;height:0px;");
                    document.getElementById('partage').style.visibility='hidden';


                }
            });
    })

</script>
