{% extends "default/front.html.twig" %}
{% block container %}
    <div id="wrapper">
        <div id="container">
            <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

            <div class="page_wrapper">

                <div class="container">

                    <div class="section_offset">

                        <div class="row">

                            <section class="section_offset  transparent" data-animation="fadeInDown">

                                <h3 class="offset_title">Produits Recherchés</h3>

                                <!-- - - - - - - - - - - - - - Carousel of brands - - - - - - - - - - - - - - - - -->

                                <div class="panel">

                                    <div class="table_row  col-sm-12">
                                        {% for produit in pagination %}
                                            <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                                            <div class="table_cell col-sm-3">

                                                <div class="product_item ">

                                                    <!-- - - - - -


                                                     - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

                                                    <div class="image_wrap">
                                                        {% if produit.logo==null %}
                                                            <img src="{{ asset("image/logo.jpg") }}"  style="height: 200px;">
                                                        {% else %}
                                                            <img src="{{ asset("image/produit/")~produit.logo }}" style="height: 200px;">
                                                        {% endif %}


                                                        <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

                                                        <div class="actions_wrap">

                                                            <div class="centered_buttons">

                                                                <a href="#" class="button_blue middle_btn add_to_cart pull-right" data-modal-url="{{ path('simulation_crm_apercu',{'id':produit.id}) }}">Ajout Express</a>


                                                            </div><!--/ .centered_buttons -->



                                                        </div><!--/ .actions_wrap-->

                                                        <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

                                                        <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->


                                                        <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

                                                    </div><!--/. image_wrap-->

                                                    <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

                                                    <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

                                                    <div class="description">
                                                        <h4 style="color:#77777b;">{{ produit.designation  }}</h4>

                                                        <a href="#">Rèf : {{ produit.ref  }}</a><br>

                                                        <div class="clearfix product_info">

                                                            <p class="product_price alignleft"><b>{{ produit.ht }}€</b></p>


                                                        </div>
                                                        <a href="{{ path('simulation_crm_fiche',{'id':produit.id}) }}" class="button_dark_grey middle_btn quick_view">Voir fiche</a>


                                                    </div>

                                                    <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

                                                </div><!--/ .product_item-->

                                            </div>

                                            <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->
                                        {% endfor %}
                                    </div>




                                </div>


                            </section>
                        </div>
                    </div>

                </div><!--/ .container-->

            </div><!--/ .page_wrapper-->

            <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->
        </div>
    </div>

{% endblock %}
{% block javascript %}
    <!-- Include Libs & Plugins
============================================ -->
    <script src="{{ asset("jsFront/jquery-2.1.1.min.js") }}"></script>
    <script src={{ asset("jsFront/queryloader2.min.js") }}""></script>
    <script src="{{ asset("jsFront/layerslider/js/greensock.js") }}"></script>
    <script src="{{ asset("jsFront/layerslider/js/layerslider.transitions.js") }}"></script>
    <script src="{{ asset("jsFront/layerslider/js/layerslider.kreaturamedia.jquery.js") }}"></script>
    <script src="{{ asset("jsFront/jquery.appear.js") }}"></script>
    <script src="{{ asset("jsFront/owlcarousel/owl.carousel.min.js") }}"></script>
    <script src="{{ asset("jsFront/jquery.countdown.plugin.min.js") }}"></script>
    <script src="{{ asset("jsFront/jquery.countdown.plugin.min.js") }}"></script>
    <script src="{{ asset("jsFront/arcticmodal/jquery.arcticmodal.js") }}"></script>
    <script src="{{ asset("twitter/jquery.tweet.min.js") }}"></script>
    <script src="{{ asset("jsFront/colorpicker/colorpicker.js") }}"></script>
    <script src="{{ asset("jsFront/retina.min.js") }}"></script>
    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js"></script>

    <!-- Theme files
    ============================================ -->
    <script src="{{ asset("jsFront/theme.plugins.js") }}"></script>
    <script src="{{ asset("jsFront/theme.core.js") }}"></script>
    <!-- select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
    <script>
        $(function () {
            {% for image in pagination %}
            $('#{{ image.id }}').on('click',function () {
                var pic = document.getElementById('{{ image.id }}');
                var logo = document.getElementById('logo');
                logo.src=pic.src;
            })
            {% endfor %}
            $('#logo1').on('click',function () {
                var pic = document.getElementById('logo1');
                var logo = document.getElementById('logo');
                logo.src=pic.src;
            })
        });
    </script>
{% endblock %}
