{% extends "default/front.html.twig" %}
{% block container %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <div id="wrapper">
        <div id="container">
            <!-- - - - - - - - - - - - - - Page Wrapper - - - - - - - - - - - - - - - - -->

            <div class="page_wrapper">

                <div class="container">

                    <div class="section_offset">

                        <div class="row">

                            <div class="row">

                                <aside class="col-md-6 col-sm-6">

                                    <!-- - - - - - - - - - - - - - Our brands - - - - - - - - - - - - - - - - -->

                                    <section class="section_offset animated transparent" data-animation="fadeInDown">

                                        <div class="panel">
                                            <h1 class="offset_title">{{ produit.designation }}</h1>
                                            <h2 class="offset_title" style="color: #ff4557;">Ref :{{ produit.ref }}</h2>
                                            <img src="{{ asset("image/produit/")~produit.logo }}" style="width:600px;height: 300px;" id="logo">
                                            <!-- - - - - - - - - - - - - - Carousel of brands - - - - - - - - - - - - - - - - -->
                                            <h3 class="offset_title">Images produits</h3>
                                            <div class="owl_carousel brands">
                                                <!--Brand-->
                                                <img src="{{ asset("image/produit/")~produit.logo }}" style="width:600px;" id="logo1">
                                                {% for image in pagination %}
                                                        <img src="{{ asset("image/logo/")~image.src }}" style="width:100px;height: 100px;" id="{{ image.id }}">
                                                {% endfor %}
                                                <!--End brand-->
                                            </div><!--/ .owl_carousel-->

                                            <!-- - - - - - - - - - - - - - End of carousel of brands - - - - - - - - - - - - - - - - -->
                                        </div>


                                    </section><!--/ .section_offset.animated.transparent-->

                                    <!-- - - - - - - - - - - - - - End our brands - - - - - - - - - - - - - - - - -->

                                </aside>

                                <main class="col-md-6 col-sm-6">
                                    <!-- - - - - - - - - - - - - - Bestsellers - - - - - - - - - - - - - - - - -->

                                    <section class="section_offset animated transparent" data-animation="fadeInDown">

                                        <h3>To Vente</h3>

                                        <footer class="bottom_box">
                                            <h2>{{ produit.ttc }} (€)  TTC</h2>
                                            <h3 style="color:#ff4557 ;">{{ produit.ht }} (€)  HT</h3>
                                            <br>
                                            <form action="{{ path('simulation_crm_ajout_panier',{'id':produit.id}) }}" method="post">
                                                <div class="form-group">
                                                    <label>Quantité</label>
                                                    <input type="number" name="quantite" id="quantite" value="1"/>
                                                    <br><br>
                                                    <button type="submit" href="" class="button_grey middle_btn">Ajouter Au Panier</button>
                                                </div>
                                            </form>
                                            <br>
                                            <h3 style="color:#ff4557 ;">Description</h3>
                                            {{ produit.descriptif }}
                                            <br><br>
                                            <a href="#" class="button_grey middle_btn">Voir détails</a>
                                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
                                            <div id="demo" class="collapse">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </footer>


                                    </section>

                                    <!-- - - - - - - - - - - - - - End of bestsellers - - - - - - - - - - - - - - - - -->
                                </main>

                            </div>

                        </div>
                    </div>

                </div><!--/ .container-->

            </div><!--/ .page_wrapper-->

            <!-- - - - - - - - - - - - - - End Page Wrapper - - - - - - - - - - - - - - - - -->
        </div>
    </div>

{% endblock %}
{% block javascript %}
    <!-- Include Libs & Plugins
============================================ -->
    <script src="{{ asset("jsFront/jquery-2.1.1.min.js") }}"></script>
    <script src={{ asset("jsFront/queryloader2.min.js") }}""></script>
    <script src="{{ asset("jsFront/layerslider/js/greensock.js") }}"></script>
    <script src="{{ asset("jsFront/layerslider/js/layerslider.transitions.js") }}"></script>
    <script src="{{ asset("jsFront/layerslider/js/layerslider.kreaturamedia.jquery.js") }}"></script>
    <script src="{{ asset("jsFront/jquery.appear.js") }}"></script>
    <script src="{{ asset("jsFront/owlcarousel/owl.carousel.min.js") }}"></script>
    <script src="{{ asset("jsFront/jquery.countdown.plugin.min.js") }}"></script>
    <script src="{{ asset("jsFront/jquery.countdown.plugin.min.js") }}"></script>
    <script src="{{ asset("jsFront/arcticmodal/jquery.arcticmodal.js") }}"></script>
    <script src="{{ asset("twitter/jquery.tweet.min.js") }}"></script>
    <script src="{{ asset("jsFront/colorpicker/colorpicker.js") }}"></script>
    <script src="{{ asset("jsFront/retina.min.js") }}"></script>
    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js"></script>

    <!-- Theme files
    ============================================ -->
    <script src="{{ asset("jsFront/theme.plugins.js") }}"></script>
    <script src="{{ asset("jsFront/theme.core.js") }}"></script>
    <!-- select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
    <script>
            {% for image in pagination %}
                $('#{{ image.id }}').on('click',function () {
                    var pic = document.getElementById('{{ image.id }}');
                    var logo = document.getElementById('logo');
                    logo.src=pic.src;
                })
            {% endfor %}
            $('#logo1').on('click',function () {
                var pic = document.getElementById('logo1');
                var logo = document.getElementById('logo');
                logo.src=pic.src;
            })
    </script>
{% endblock %}
