{% trans_default_domain 'FOSUserBundle' %}

<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Sign in and Sign up  - Single Form</title>
  
  
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600'>

      <link rel="stylesheet" href="{{ asset("css/style.css") }}">

  
</head>

{% block stylesheets %}
    <link href="{{ asset("css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ asset("css/metisMenu.min.css") }}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{{ asset("css/timeline.css") }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset("css/startmin.css") }}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{ asset("css/morris.css") }}" rel="stylesheet">

    <!-- dataTable css -->
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset("css/font-awesome.min.css") }}" rel="stylesheet" type="text/css">
{% endblock %}
<body>
  <div class="cont_principal">

  <div class="cont_centrar" style="width: 500px;">
  <div class="cont_login">
      {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="cont_tabs_login">
      <ul class='ul_tabs'>
        <li class="active"><a href="#up" onclick="sign_up()">INSCRIPTION</a><span class="linea_bajo_nom"></span>
        </li>
      </ul>
      </div>
  <div class="cont_text_inputs">

        <div  class="input_form_sign d_block active_inp " placeholder="NAME" name="name_us"  style="border-bottom: 0px;">
            <label type="text" >Email</label>
            {{ form_widget(form.email, {'attr': {'class': 'form-control autocomplete','placeholder':"Email"|trans}}) }}
        </div>
        <div  class="input_form_sign d_block active_inp" placeholder="EMAIL" name="emauil_us"  style="border-bottom: 0px;">
            <label type="text" >Login</label>
            {{ form_widget(form.username, {'attr': {'class': 'form-control autocomplete','placeholder':"Login"|trans}}) }}
        </div>
        <div  class="input_form_sign d_block  active_inp" placeholder="PASSWORD" name="pass_us" style="float: right;border-bottom: 0px;">
            <label type="text" >Mot de passe</label>

            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control autocomplete','placeholder':"Mot de passe"|trans}}) }}
        </div>
      <div  class="input_form_sign d_block  active_inp" placeholder="PASSWORD" name="pass_us" style="float: right;border-bottom: 0px;">
          <label type="text" >Répeter le mot passe</label>

          {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control autocomplete','placeholder':"Répeter le mot passe"|trans}}) }}
      </div>
      <div  class="input_form_sign d_block  active_inp"  style="float: right;border-bottom: 0px;">
          <label type="text" >Role</label>
          {{ form_widget(form.role, {'attr': {'class': 'form-control autocomplete'}}) }}
      </div>

      <div class="cont_btn">
          <input class="btn_sign" type="submit" value="{{ 'registration.submit'|trans }}" />
      </div>


      </div>

      {{ form_end(form) }}
    </div>
    
  </div>
  

</div>
  
    <script  src="{{ asset("js/index.js") }}"></script>

</body>
</html>
