{% trans_default_domain 'FOSUserBundle' %}

<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Sign in and Sign up  - Single Form</title>
  
  
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600'>

      <link rel="stylesheet" href="{{ asset("css/style.css") }}">

  
</head>

<body>
  <div class="cont_principal">

  <div class="cont_centrar">
  <div class="cont_login">
    <form action="">
    <div class="cont_tabs_login">
      <ul class='ul_tabs'>
        <li class="active"><a href="#" onclick="sign_in()">SIGN IN</a>
        <span class="linea_bajo_nom"></span>
        </li>
        <li><a href="#up" onclick="sign_up()">SIGN UP</a><span class="linea_bajo_nom"></span>
        </li>
      </ul>
      </div>
  <div class="cont_text_inputs">
      <input type="text" class="input_form_sign " placeholder="NAME" name="name_us" />

    <input type="text" class="input_form_sign d_block active_inp" placeholder="EMAIL" name="emauil_us" />

    <input type="password" class="input_form_sign d_block  active_inp" placeholder="PASSWORD" name="pass_us" />
      <div class="fos_user_user_show">
          <div class="input_form_sign " placeholder="NAME" name="name_us">{{ 'profile.show.username'|trans }}: {{ user.username }}</div>
          <div class="input_form_sign d_block active_inp" placeholder="EMAIL" name="emauil_us">{{ 'profile.show.email'|trans }}: {{ user.email }}</div>
      </div>

      <div class="cont_btn">
          <button class="btn_sign">{{ 'Valider'|trans }}</button>

      </div>

    <a href="#" class="link_forgot_pass d_block" >Forgot Password ?</a>
<div class="terms_and_cons d_none">
    <p><input type="checkbox" name="terms_and_cons" /> <label for="terms_and_cons">Accept  Terms and Conditions.</label></p>

    </div>
      </div>
      
    </form>
    </div>
    
  </div>
  

</div>
  
    <script  src="{{ asset("js/index.js") }}"></script>

</body>
</html>
